
.overCurtain {
	border-top:1px solid rgb(230,245,255);
	position:absolute;
	height:674px;
	width:100%;
	left:0px;
	top:0px;
	opacity:0.7;
	/* display:none; */
	background-color:rgb(230,245,255);
}
.hide-center {
    width:557px;
	height:356px;
	position:absolute;
	right:0;
	left:0;
	bottom:0;
	top:0;
	margin:auto;
	/* display:none; */
	z-index:1;
}
.hide-center #formhead {
    width:557px;
	height:42px;
	margin:0;
	padding-top:12px;
	padding-bottom:-30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color:#101010;
}
.hide-center #formhead-title {
    width: 119px;
    height: 24px;
    margin-left: 247px;
    margin-right: 144px;
    color: #bfbfbf;
    font-weight: 900;
    display: inline-block;
}
.hide-center #close {
	width:35px;
	height:20px;
	border:0;
	border-radius:20%;
	background-color:black;
	color:white;
	display:inline-block;
}
.hide-center #formbody {
	width:557px;
	height:298px;
	background-color:#1e1e1e;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.hide-center .loginHead {
	margin-right:-8px;
	padding:13px;
	width:25px;
	height:28px;
	background-color:#141414;
	vertical-align:middle;
}
.hide-center .loginInput {
    height: 52px;
    width: 470px;
    padding-left: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 0;
    background-color: #141414;
    color: aliceblue;
}
.hide-center .loginUserName {
	padding-left:30px;
	padding-top:30px;
}
.hide-center .login1 #img-topleft-loginHead {
	border-top-left-radius:5px;
}
.hide-center .login1 #input-topright-loginInput {
	border-top-right-radius:5px;
}
.hide-center .login1 #img-bottomleft-loginHead {
	border-bottom-left-radius:5px;
}
.hide-center .login1 #input-bottomright-loginInput {
	border-bottom-right-radius:5px;
}
.hide-center .loginPassword {
	/* padding-left:30px; */
}
.hide-center #formfoot {
	margin-top:16px;
	margin-left:30px;
}
.hide-center #BSignIn {
    border:0;
	background:#329d90;
	color:#ffffff;
	width:480px;
	height:40px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.loginUserName #select_region{
    width: 93px;
    height: 50px;
    background-color: #141414;
    color: #aaaaaa;
    appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    line-height: 50px;
    appearance: none;
    border-radius: 10px;
    padding-left: 14px;
}
.hide-center #BSignIn a{
	color: #ece8e8;
}
.Other_login{
    margin-top: 22px;
    background-color: #101010;
    height: 56px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    line-height: 60px;
}
.Other_login .last_step{
	color: #c5c2c2b4;  
	padding-right: 309px;
	padding-left: 20px;
}
.Other_login .Text_login{
    text-decoration:none;
    display:inline-block;
    color: #ffffffb4;  
    font-size: 12px;
}
