
.hide-center {
    width:557px;
	height:520px;
	position:fixed;
	right: 655px;
	top:200px;
	margin:auto;
    z-index:1;
    /* display: none; */
}
/* 头部样式 */
.hide-center #formhead {
    width:557px;
	height:42px;
	margin:0;
	padding-top:12px;
	padding-bottom:-30px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color:#101010;
}
/* 标题样式 */
.hide-center #formhead-title {
    width: 167px;
    height: 24px;
    line-height: 24px;
    margin-left: 215px;
    margin-right: 130px;
    color: #bfbfbf;
    font-weight: 900;
    display: inline-block;
    font-size: 16px;
}
/* 退出按钮 */
.hide-center #close {
	width:35px;
	height:20px;
	border:0;
	border-radius:20%;
	background-color:black;
	color:white;
	display:inline-block;
}
.hide-center #formbody {
	width:557px;
    height:410px;
    padding-top: 22px;
	background-color:#1e1e1e;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.hide-center .loginHead {
	margin-right:-8px;
	padding:13px;
	width:25px;
	height:28px;
	background-color:#141414;
	vertical-align:middle;
}
.hide-center .loginInput {
    height: 52px;
    width: 373px;
    padding-left: 10px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 0;
    background-color: #141414;
    color: aliceblue;
}
.hide-center .loginUserName,.loginPassword,.loginPhone,.loginSex {
	padding-left:30px;
}

.hide-center #formfoot {
	margin-top:16px;
	margin-left:30px;
}
/* 提交按钮样式 */
.hide-center #BSignIn {
    border:0;
	background:#329d90;
	color:#ffffff;
	width:480px;
	height:40px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.hide-center #BSignIn a{
	color: #ece8e8;
}

/* 设置密码可见/不可见 */
.loginPassword,.n-txtCss{
    display: flex;
    align-items: center;
   }
   .loginUserName .fa{
    width: 33px;
    height: 33px;
    cursor: pointer;
    margin-left: 33px;
    position: absolute;
    right: 152px;
    top: 11px;
    font-size: 20px;
    cursor: pointer;
}
   .fa-eye-open{
    width: 24px;
    height: 20px;
    background-image: url("../img/密码不可见.png");
    background-repeat: no-repeat;
    background-size: 24px 17px;
    position: relative;
    right: 37px;
    top: -4px;
}
   .fa-eye{
    width: 24px;
    height: 20px;
    background-image: url("../img/密码可见.png");
    background-repeat: no-repeat;
    background-size: 24px 17px;
    position: relative;
    right: 37px;
    top: -4px;
   }
/* 选择性别 */
.loginSex {
   height: 40px;
   width: 353px;
   line-height: 40px;
   background-color: #141414;
   border-radius: 10px;
   margin-left: 30px;
   margin-bottom: 12px;
}
.loginSex span,.loginSex label{
    color: #9e9898;
}
.loginSex span{
    margin-left: -19px;
    padding-right: 20px;
}
.loginSex label{
    vertical-align: 2px;
}
/* 上传头像 */
.loginHead_img{
    height: 40px;
    width: 390px;
    line-height: 40px;
    background-color: #141414;
    border-radius: 10px;
    margin-left: 30px;
    padding-left: 10px;
}
.loginHead_img span{
    padding-right: 20px;
    color: #9e9898;
}
.loginHead_img .loginHead_img_elect{
    background-color: #1e1e1e;
}
/* 尾部返回上一步 */
.Other_login{
    margin-top: 21px;
    background-color: #101010;
    height: 56px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    line-height: 60px;
}
.Other_login .last_step{
	color: #c5c2c2b4;  
	/* padding-right: 336px; */
	padding-left: 20px;
}
.Other_login .Text_login{
    text-decoration:none;
    display:inline-block;
    color: #ffffffb4;  
    font-size: 12px;
}
