<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/replay.css">
    <link rel="stylesheet" href="css/replay.css">
</head>

<body>
    <div class="external">
        <!-- 版心 -->
        <div class="common">
            <div class="ptitle">
                <!-- 简单面包屑 -->
                <p class="name">当前位置:
                    <a href="/">首页</a>>
                    <a href="">最新动漫</a>>
                    <a href="">国产动漫</a>>
                    <a href="">西行纪</a>>西行记第01集
                </p>
            </div>
            <div class="macplayer">
                <div class="episode">
                    <div class="episode-left">
                        <p style="cursor: pointer;">上一集</p>
                        <p style="cursor: pointer;">下一集</p>
                    </div>
                    <div class="episode-middle">
                        <p style="cursor: pointer;">正在播放:第1集</p>
                    </div>
                    <div class="episode-right">
                        <p style="cursor: pointer;">开/关列表</p>
                    </div>
                </div>
                <!-- 视频播放 -->
                <video width="1200" height="449" controls="controls" autoplay="autoplay">
                    <source src="/i/movie.ogg" type="video/ogg" />
                    <source src="/i/movie.mp4" type="video/mp4" />
                    <source src="/i/movie.webm" type="video/webm" />
                </video>
            </div>
        </div>
    </div>
    <div class="common">
            <div class="source">
                    <ul class="cource_tab">
                        <li class="tab-item active" id="tab">
                            <img src="image/bo2.png" alt="">
                            <a href="javascript:;" style="color: black;">酷云播放源</a>
                        </li>
                        <li class="tab-item">
                            <img src="image/bo2.png" alt="">
                            <a href="javascript:;"> ZDm3u8播放源</a>
                        </li>
                        <li class="tab-item">
                            <img src="image/bo2.png" alt="">
                            <a href="javascript:;">bdm3u8播放源</a>
                        </li>
                        <li class="tab-item">
                            <img src="image/bo2.png" alt="">
                            <a href="javascript:;">八戒播放源</a>
                        </li>
                        <li class="tab-item">
                            <img src="image/bo2.png" alt="">
                            <a href="javascript:;"> 33uu播放源</a>
                        </li>
                    </ul>
                    <div class="products">
                        <div class="products-h1">
                            <p class="intro">
                                <font color="#f06000" style="
                                font-size: 14px;
                            ">当前使用腾讯播放源播放，播放卡顿或者不能播放，请尝试切换播放源↑↑↑</font>
                            </p>
                        </div>
                        <div class="videourl">
                            <ul>
                                <li class="selected-first">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第01集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第02集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第03集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第04集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第05集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第06集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第07集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第08集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第09集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第11集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第12集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第13集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第14集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第15集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第16集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第17集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第18集</a>
                                </li>
            
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第19集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第20集</a>
                                </li>
                                <li class="selected">
                                    <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第21集</a>
                                </li>
                            </ul>
                        </div>
                    </div>
            
                </div>
    </div>
   
    
    <!-- 游客评论框区 -->
    <div class="common">
        <div class="common-on">西行纪评论：</div>
        <div class="circle">
            <P>游客</P>
        </div>
        <!-- 评论框 -->
        <div class="commonts-sub">
            <textarea onblur="if(!this.value){showTextareaImp();}else{return false;}"
                onfocus="hiddenTextareaImp();showCheckCode();" name="message" id="message"
                onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13)insertUserMessage(1);"></textarea>
            <div class="commonts-skills">
                播放卡顿、不能播放或者视频不对口，请换视频右上角的换线或视频下面的播放源！</div>
            <div class="dBtn-btn dBtn-blue" title="提交评论" value="提交评论"></span></div>
        </div>
        <div class="commonts-by">
            验证码: <input type="text" class="commonts-bnm">
            <img src="./image/code (1).jpg" alt="" class="commonts-zxc">
            <input type="text" value="发布" class="commonts-nnm">
        </div>
    </div>

    <!-- 游客评论区 -->
    <div class="common">
        <div class="comment">
            <div class="comment-bnm">
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">太卡了 管理员回复：亲，已更新资源，如果不能播放可以尝试切换下播放源哦。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">太卡了 管理员回复：由于播放的人数比较多，可能会造成卡顿的情况，亲可以尝试切换下播放源。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">特别好</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">卡到爆炸啊，时间过去了10分钟我才看到1分钟搞屁呢？ 管理员回复：由于播放的人数比较多，可能会造成卡顿的情况，亲可以尝试切换下播放源。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">除了嘴唇僵硬，内容和打斗都很精彩，片尾曲好听。国漫在进步，老夫很欣慰。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">这卡死了 管理员回复：亲，已更新资源，如果不能播放可以尝试切换下播放源哦。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">猪八戒被绿了= =</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">每一个都很卡 管理员回复：由于播放的人数比较多，可能会造成卡顿的情况，亲可以尝试切换下播放源。</p>
                    </div>
                </div>
            </div>
            <div id='div'>
                <ul id='ul'>
                    <li>首页</li>
                    <li>上一页</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>下一页</li>
                    <li>尾页</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="common">
        <!-- 剧情简介区 -->
        <div class="synopsis">
            <div class="synopsis-on">西行纪剧情简介</div>
            <div class="synopsis-one">
                您正在免费观看的是西行纪第01集，使用的是腾讯播放源，如果这个播放源无法播放请试试其他播放源，西行纪大陆动漫于2018年上映，导演是钟智行，西行纪详细介绍：唐三藏师徒取得奇经交予天庭的十六年后，世界却并没有因此变好。如今奇经下落不明，天庭派大军大肆搜寻，以天羽山之战为起点，狼妖白狼不辞万难地寻回当年取经的唐僧师徒，小队集结踏上还经之路……史上最颠覆的西游传奇便在此展开。
            </div>
        </div>
        <!--电影推荐  -->
        <div class="movie">
            <div class="title">除了<strong>"西行纪"</strong>你也可能喜欢以下影片</div>
            <div>
                <ul class="lunbo-one-p">
                    <li><img src="./image/one.jpg" alt=""> <a href="#">
                            <div class="mask">
                                <span>斗罗大陆</span>
                                <p>沈磊,程玉珠,黄翔宇,王晓</p>
                                <p>国产动漫</p>
                                <p>2018</p>
                            </div>
                        </a></li>
                    <li><img src="image/冰雪奇缘.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>我的长颈鹿好朋友</span>
                                <p>Liam de Vries,Martijn Fischer,埃格伯特·让·魏伯</p>
                                <p>剧情片</p>
                                <p>2019</p>
                            </div>
                        </a></li>
                    <li><img src="image/大尾鲈鳗.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>郊区男孩</span>
                                <p>Jammeh Diangana,Kery James,Chloé Jouannet</p>
                                <p>剧情片</p>
                                <p>2019</p>
                            </div>
                        </a></li>
                    <li><img src="image/大闹广昌隆大闹广昌隆大闹广昌隆大闹广昌隆大闹广昌隆大闹广昌隆.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>早熟</span>
                                <p>房祖名,薛凯琪,曾志伟,毛舜筠</p>
                                <p>剧情片</p>
                                <p>2005</p>
                            </div>
                        </a></li>
                    <li><img src="image/就是我的世界.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>明天也一定要和你恋爱</span>
                                <p>仁村纱和,新田真剑佑,柳俊太郎</p>
                                <p>剧情片</p>
                                <p>2016</p>
                            </div>
                        </a></li>
                    <li><img src="image/教区.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>朝九晚无</span>
                                <p>曾黎,林文龙,郝平</p>
                                <p>剧情片</p>
                                <p>2008</p>
                            </div>
                        </a>
                    </li>
                    <li><img src="image/朝九.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>朝九晚无</span>
                                <p>曾黎,林文龙,郝平</p>
                                <p>剧情片</p>
                                <p>2008</p>
                            </div>
                        </a>
                    </li>
                    <li><img src="image/电影人生.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>朝九晚无</span>
                                <p>曾黎,林文龙,郝平</p>
                                <p>剧情片</p>
                                <p>2008</p>
                            </div>
                        </a>
                    </li>

                    <li><img src="image/见鬼.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>朝九晚无</span>
                                <p>曾黎,林文龙,郝平</p>
                                <p>剧情片</p>
                                <p>2008</p>
                            </div>
                        </a>
                    </li>
                     <li><img src="image/负债甜心负债甜心负债甜心负债甜心负债甜心负债甜心负债甜心.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>朝九晚无</span>
                                <p>曾黎,林文龙,郝平</p>
                                <p>剧情片</p>
                                <p>2008</p>
                            </div>
                        </a>
                    </li> <li><img src="image/鬼乡.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>朝九晚无</span>
                                <p>曾黎,林文龙,郝平</p>
                                <p>剧情片</p>
                                <p>2008</p>
                            </div>
                        </a>
                    </li>
                    <li><img src="image/儿子,孙子和种子.jpg" alt="">
                        <a href="#">
                            <div class="mask">
                                <span>朝九晚无</span>
                                <p>曾黎,林文龙,郝平</p>
                                <p>剧情片</p>
                                <p>2008</p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <script src="./js/index.js"></script>

</body>

</html>