<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/replay.css">
</head>

<body>
    <div class="external">
        <!-- 版心 -->
        <div class="common">
            <div class="ptitle">
                <!-- 简单面包屑 -->
                <p class="name">当前位置:
                    <a href="/">首页</a>>
                    <a href="">最新动漫</a>>
                    <a href="">国产动漫</a>>
                    <a href="">西行纪</a>>西行记第01集
                </p>
            </div>
            <div class="macplayer">
                <div class="episode">
                    <div class="episode-left">
                        <p style="cursor: pointer;">上一集</p>
                        <p style="cursor: pointer;">下一集</p>
                    </div>
                    <div class="episode-middle">
                        <p style="cursor: pointer;">正在播放:第1集</p>
                    </div>
                    <div class="episode-right">
                        <p style="cursor: pointer;">开/关列表</p>
                    </div>
                </div>
                <!-- 视频播放 -->
                <video width="1200" height="449" controls="controls" autoplay="autoplay">
                    <source src="./image/sEzdz3fIXgqc1512572926.mp4" type="video/ogg" />
                </video>
            </div>
        </div>
    </div>
    <div class="common">
        <div class="source">
            <ul class="cource_tab">
                <li class="tab-item active" id="tab">
                    <img src="image/bo2.png" alt="">
                    <a href="javascript:;" style="color: black;">酷云播放源</a>
                </li>
                <li class="tab-item">
                    <img src="image/bo2.png" alt="">
                    <a href="javascript:;"> ZDm3u8播放源</a>
                </li>
                <li class="tab-item">
                    <img src="image/bo2.png" alt="">
                    <a href="javascript:;">bdm3u8播放源</a>
                </li>
                <li class="tab-item">
                    <img src="image/bo2.png" alt="">
                    <a href="javascript:;">八戒播放源</a>
                </li>
                <li class="tab-item">
                    <img src="image/bo2.png" alt="">
                    <a href="javascript:;"> 33uu播放源</a>
                </li>
            </ul>
            <div class="products">
                <div class="products-h1">
                    <p class="intro">
                        <font color="#f06000" style="
                                font-size: 14px;
                            ">当前使用腾讯播放源播放，播放卡顿或者不能播放，请尝试切换播放源↑↑↑</font>
                    </p>
                </div>
                <div class="videourl">
                    <ul>
                        <li class="selected-first">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第01集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第02集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第03集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第04集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第05集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第06集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第07集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第08集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第09集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第11集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第12集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第13集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第14集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第15集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第16集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第17集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第18集</a>
                        </li>

                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第19集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第20集</a>
                        </li>
                        <li class="selected">
                            <a href="file:///C:/vod-play-id-52319-src-1-num-1.html" title="第01集">第21集</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- 游客评论框区 -->
    <div class="common">
        <div class="common-on">西行纪评论：</div>
        <div class="circle">
            <P>游客</P>
        </div>
        <!-- 评论框 -->
        <div class="commonts-sub">
            <textarea node-type="textarea" name="c_content" class="textarea-fw textarea-bf"
                placeholder="播放卡顿、不能播放或者视频不对口，请换视频右上角的换线或视频下面的播放源！" onfocus="this.style.backgroundImage='';"></textarea>
        </div>
        <div class="commonts-by">
            验证码: <input type="text" class="commonts-bnm">
            <img src="./image/code (1).jpg" alt="" class="commonts-zxc">
            <button class="commonts-nnm">发布</button>
        </div>
    </div>

    <!-- 游客评论区 -->
    <div class="common">
        <div class="comment">
            <div class="comment-bnm">
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">太卡了 管理员回复：亲，已更新资源，如果不能播放可以尝试切换下播放源哦。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">太卡了 管理员回复：由于播放的人数比较多，可能会造成卡顿的情况，亲可以尝试切换下播放源。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">特别好</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">卡到爆炸啊，时间过去了10分钟我才看到1分钟搞屁呢？ 管理员回复：由于播放的人数比较多，可能会造成卡顿的情况，亲可以尝试切换下播放源。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">除了嘴唇僵硬，内容和打斗都很精彩，片尾曲好听。国漫在进步，老夫很欣慰。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">这卡死了 管理员回复：亲，已更新资源，如果不能播放可以尝试切换下播放源哦。</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">猪八戒被绿了= =</p>
                    </div>
                </div>
                <div class="comment-one clearfix">
                    <span class="visitor-one f1">
                        <img src="./image/duface.png" alt="">
                    </span>
                    <div class="visitor-two f1">
                        <p class="top1">
                            <span class="name">游客</span>(2019-10-13)
                        </p>
                        <p class="con">每一个都很卡 管理员回复：由于播放的人数比较多，可能会造成卡顿的情况，亲可以尝试切换下播放源。</p>
                    </div>
                </div>
            </div>
            <div id='div'>
                <ul id='ul'>
                    <li>首页</li>
                    <li>上一页</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>下一页</li>
                    <li>尾页</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="common">
        <!-- 剧情简介区 -->
        <div class="synopsis">
            <div class="synopsis-on">西行纪剧情简介:</div>
            <div class="synopsis-one">
                您正在免费观看的是西行纪第01集，使用的是腾讯播放源，如果这个播放源无法播放请试试其他播放源，西行纪大陆动漫于2018年上映，导演是钟智行，西行纪详细介绍：唐三藏师徒取得奇经交予天庭的十六年后，世界却并没有因此变好。如今奇经下落不明，天庭派大军大肆搜寻，以天羽山之战为起点，狼妖白狼不辞万难地寻回当年取经的唐僧师徒，小队集结踏上还经之路……史上最颠覆的西游传奇便在此展开。
            </div>
        </div>
        <!--电影推荐  -->
        <div class="recommend">
            <div class="title">除了<strong>"西行纪"</strong>你也可能喜欢以下影片</div>
            <ul class="recommend_list clearfix">
                <li>
                    <a href="">
                        <img src="./image/156993180187486821.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">中国机长</p>
                        <p class="actor">张涵予</p>
                        <p class="type">剧情片</p>
                        <p class="time">2019/大陆</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/156941700425569619.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">攀登者</p>
                        <p class="actor">吴京,章子怡,张泽</p>
                        <p class="type">剧情片</p>
                        <p class="time">2019/</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/156941580152161677.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">世界欠我一个初恋</p>
                        <p class="actor">邢邵林,白鹿,翟子</p>
                        <p class="type">国产剧</p>
                        <p class="time">2019/大陆</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/156924180409842531.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">万国志</p>
                        <p class="actor">古拜里,徐念,李药师</p>
                        <p class="type">国产动漫</p>
                        <p class="time">2019/大陆</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/156924180205461085.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">在远方</p>
                        <p class="actor">刘烨,马伊利,梅婷</p>
                        <p class="type">国产剧</p>
                        <p class="time">2019/大陆</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/156770880668039362.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">我和我的祖国</p>
                        <p class="actor">黄渤,张泽,陈飞宇</p>
                        <p class="type">剧情片</p>
                        <p class="time">2019/</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/156742740166254401.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">宁静</p>
                        <p class="actor">马修,安妮</p>
                        <p class="type">科幻片</p>
                        <p class="time">2019/美国</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/156708420609452309.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">我的莫格利男孩</p>
                        <p class="actor">马天宇,杨紫</p>
                        <p class="type">国产剧</p>
                        <p class="time">2019/大陆</p>
                        <a href=""></a>
                    </div>
                </li>

                <li>
                    <a href="">
                        <img src="./image/156516850540021914.jpeg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">速度与激情:特别行动</p>
                        <p class="actor">道恩 节森g</p>
                        <p class="type">动作片</p>
                        <p class="time">2019/美国</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/15633483911.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">银河补习班</p>
                        <p class="actor">邓超,白宇</p>
                        <p class="type">剧情片</p>
                        <p class="time">2019/大陆</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/15632622841.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">负债甜心</p>
                        <p class="actor">周晓安,陈锡文</p>
                        <p class="type">喜剧片</p>
                        <p class="time">2019/大陆</p>
                        <a href=""></a>
                    </div>
                </li>
                <li>
                    <a href="">
                        <img src="./image/15616401227.jpg" alt="">
                    </a>
                    <i>高清</i>
                    <div class="movie" id="movie_name">
                        <p class="name">陈情令</p>
                        <p class="actor">肖战,王一博</p>
                        <p class="type">国产剧</p>
                        <p class="time">2019/大陆</p>
                        <a href=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="./js/jquery-3.3.1.js"></script>
    <script src="./js/index.js"></script>

    <script>
        const change = function () {
            $.ajax({
                url: 'http://127.0.0.1/api/v1/films',
                type: 'get',
                data: "",
                success: function (data) {
                    console.log(data);
                }
            })
            // console.log(345)
        }
        change()
    </script>


</body>

</html>