<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/vip.css">
    <link rel="stylesheet" href="./css/bottom.css">
    <link rel="stylesheet" href="./css/hand.css">
    <link type="text/css" rel="stylesheet" href="./css/carousel.css">
</head>

<body>
    <%- include('./layouts/hand.ejs') %>
    <!-- vip -->
    <div class="hot-vip">
        <!-- 热门排行 -->
        <div class="hot-seniority common">
            <!-- 热门分类 -->
            <div class="hot-classfiy clearfix">
                <!-- 热门榜 -->
                <div class="hot-login">
                    <i></i>
                    <span>VIP热播榜</span>
                    <span class="more">更多></span>
                </div>
                <div class="vip-tab-nav">
                    <ul>
                        <li>
                            <div class="mod-nav-item"><a href="#">电影</a></div>
                        </li>
                        <li>
                            <div class="mod-nav-item"><a href="#">电视剧</a></div>
                        </li>
                        <li>
                            <div class="mod-nav-item"><a href="#">动漫</a></div>
                        </li>
                        <li>
                            <div class="mod-nav-item"><a href="#">儿童</a></div>
                        </li>
                        <li>
                            <div class="mod-nav-item"><a href="#">纪录片</a></div>
                        </li>
                    </ul>
                </div>
                <!-- 视频 -->
                <!-- table切换 -->
                <div class="tab-nav">
                    <div class="left-video-wrap clearfix" style="display: block;">
                        <div class="play-wrap">
                            <img src="./img/zyz3.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20191014/01/bb/v_132308345_m_601_m16_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">横行霸道</a></p>
                                                    <p>性感女团沙漠屠戮</p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20190923/16/c0/v_128113153_m_601_m11_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">使徒行者2：谍影行动</a></p>
                                                    <p>张家辉古天乐激战</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20191014/69/e5/v_112883218_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">美国特工</a></p>
                                                    <p>新手特工拯救世界</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20191004/ae/25/v_128348570_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">银河补习班</a></p>
                                                    <p>邓超白宇催泪父子情</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20191017/72/c8/v_106399789_m_601_m10_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">家园防线</a></p>
                                                    <p>铁血硬汉父女情深</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20191016/b5/ee/v_128241080_m_601_m12_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">死寂逃亡</a></p>
                                                    <p>灭世怪兽寻声吃人</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20190810/cf/c1/v_115720703_m_601_m13_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">风语咒</a></p>
                                                    <p>上古凶兽毁天灭地</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20190929/4b/71/v_114505633_m_601_m12_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">沉默的证人</a></p>
                                                    <p>张家辉杨紫斗悍匪</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20190917/ea/48/v_127943164_m_601_m12_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">鼠胆英雄</a></p>
                                                    <p>佟丽娅强吻小岳岳</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20191007/61/57/v_113835866_m_601_m6_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">X战警：黑凤凰</a></p>
                                                    <p>20年传奇终极一战</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20190808/28/5b/v_50233838_m_601_m6_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">痞子英雄之全面开战</a></p>
                                                    <p>赵又廷与黄渤配对谈情</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20190808/64/de/v_104634523_m_601_m9_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">四大名捕2</a></p>
                                                    <p>邓超刘亦菲奇幻迷情</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left"></i>
                            <i class="col-right-right"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="left-video-wrap clearfix">
                        <div class="play-wrap">
                            <img src="./img/zyz7.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow1">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190930/41/4d/a_100215564_m_601_m9_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">世界欠我一个初恋</a></p>
                                                    <p>爱对了人，才是初恋</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20191010/4b/cb/a_100150640_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">十年三月三十日</a></p>
                                                    <p>窦骁娜扎职场情缘</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20190926/a6/7c/a_100353042_m_601_m2_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">不负时光</a></p>
                                                    <p>安悦溪邢昭林青春逐梦</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20191010/5f/ad/a_100272782_m_601_m2_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">光荣时代</a></p>
                                                    <p>张译黄志忠明暗对决</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20190920/4f/ff/a_100345180_m_601_m3_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">激荡</a></p>
                                                    <p>任重郭晓东铸不凡人生</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic1.iqiyipic.com/image/20190926/4e/ff/a_100353485_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">真凶难逃</a></p>
                                                    <p>疑云密布的警匪大片</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20180129/0b/19/a_100044825_m_601_m3_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">鸡毛飞上天</a></p>
                                                    <p>张译殷桃打造新义乌</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190702/60/ab/a_100056295_m_601_m23_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">延禧攻略</a></p>
                                                    <p>秦岚佘诗曼清宫风云</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20190918/79/cd/a_100047601_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">亲爱的味道</a></p>
                                                    <p>陆毅郭采洁美味结缘</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190812/0a/66/a_100142392_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">烈火军校</a></p>
                                                    <p>白鹿许凯共赴热血青春</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20181227/5f/21/a_100098426_m_601_m10_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">知否知否应是绿肥红瘦</a></p>
                                                    <p>赵丽颖演绎明兰传奇</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20191012/dc/ed/a_100351145_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">迷线</a></p>
                                                    <p>黑白双雄共擒毒枭</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left1"></i>
                            <i class="col-right-right1"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="left-video-wrap clearfix">
                        <div class="play-wrap">
                            <img src="./img/zyz3.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow2">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic7.iqiyipic.com/image/20191012/82/3b/a_50167419_m_601_m30_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">名侦探柯南 普通话</a></p>
                                                    <p>真相只有一个</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20191014/d3/93/a_100047949_m_601_m9_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">博人传 火影忍者新时代</a></p>
                                                    <p>火之意志世代传承</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20190521/74/0a/a_100091879_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">黑色四叶草</a></p>
                                                    <p>魔导少年称霸魔法世界</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20181011/08/93/a_50138731_m_601_m16_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">蜡笔小新</a></p>
                                                    <p>纯真眼光调侃地看世界</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20181206/e4/35/a_100193322_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">画江湖之不良人 第3季</a></p>
                                                    <p>王者弈天下大唐生死局</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20190201/90/03/a_100006957_m_601_m22_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">名侦探柯南</a></p>
                                                    <p>真相只有一个</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20191004/c7/96/a_62016073_m_601_m16_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">妖精的尾巴</a></p>
                                                    <p>魔导士公会热血传奇</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic7.iqiyipic.com/image/20181012/74/fa/a_50375133_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">蜡笔小新 第2季</a></p>
                                                    <p>纯真眼光调侃地看世界</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190605/fb/2d/a_100162363_m_601_m16_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">少年歌行</a></p>
                                                    <p>有温度的少年江湖</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190809/20/54/a_100284032_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">大主宰</a></p>
                                                    <p>燃斗魂破乾坤君临苍穹</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20190318/c7/b9/a_100225738_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">斗罗大陆2绝世唐门 荣耀篇</a></p>
                                                    <p>史莱克七怪荣耀回归</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20190702/86/fa/a_50268010_m_601_m6_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">网球王子</a></p>
                                                    <p>青春帅气的王子们</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left2"></i>
                            <i class="col-right-right2"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="left-video-wrap clearfix">
                        <div class="play-wrap">
                            <img src="./img/zyz7.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow3">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic7.iqiyipic.com/image/20190813/a7/34/a_100341132_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">小猪佩奇 第7季</a></p>
                                                    <p>小猪佩奇一家的生活</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20190703/35/8a/a_100042795_m_601_m3_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">汪汪队立大功全集</a></p>
                                                    <p>汪汪队立大功</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190912/f0/21/a_100349652_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">汪汪队立大功 第5季</a></p>
                                                    <p>解决难题突破重围</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20190826/4a/74/a_100344826_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">旋风战车队 第4季</a></p>
                                                    <p>旋风卡车的冒险故事</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20190703/9b/31/a_100107144_m_601_m10_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">汪汪队立大功 第4季</a></p>
                                                    <p>本领高强的狗狗巡逻队</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20190925/3f/b3/a_100351551_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">宇宙护卫队 第2季</a></p>
                                                    <p>动物知识及生活哲理</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190704/35/94/a_100155275_m_601_m2_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">车宝四兄弟</a></p>
                                                    <p>一起兜风一起学习吧</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left3"></i>
                            <i class="col-right-right3"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="left-video-wrap clearfix">
                        <div class="play-wrap">
                            <img src="./img/zyz3.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow4">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz6.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="./img/zyz4.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                                    <p>怀旧金曲现场</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left4"></i>
                            <i class="col-right-right4"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- vip尊享专区 -->
        <div class="honourable-vip common">
            <!-- 尊享标题 -->
            <div class="honourable-login">
                <a href="#">
                    <span></span>
                    <span>VIP尊享专区</span>
                </a>
            </div>
            <!-- 尊享左右轮播 -->
            <!-- table部分 -->
            <div class="honourable-lb common">
                <ul>
                    <li>
                        <a href="#">
                            <img src="./img/zyz8.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./img/zyz8.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./img/zyz8.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./img/zyz8.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./img/zyz8.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                </ul>
                <i class="honour-left"></i>
                <i class="honour-right"></i>
            </div>
            <!-- 轮播的图片部分 -->

            <div class="honourableAll">
                <div class="honourable-tp" style="display: block">
                    <div class="lb-tp">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left"></i>
                    <i class="honourable-tp-right"></i>
                </div>
                <div class="honourable-tp ">
                    <div class="lb-tp1">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left1"></i>
                    <i class="honourable-tp-right1"></i>
                </div>
                <div class="honourable-tp ">
                    <div class="lb-tp2">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left2"></i>
                    <i class="honourable-tp-right2"></i>
                </div>
                <div class="honourable-tp ">
                    <div class="lb-tp3">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left3"></i>
                    <i class="honourable-tp-right3"></i>
                </div>
                <div class="honourable-tp ">
                    <div class="lb-tp4">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="./img/zyz4.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left4"></i>
                    <i class="honourable-tp-right4"></i>
                </div>
            </div>
        </div>


        <!--  轮播图插件-->
        <div class="xuanjuan">
            <article class="jq22-container">
                <div class="caroursel poster-main" data-setting='{
                        "width":1000,
                        "height":270,
                        "posterWidth":640,
                        "posterHeight":270,
                        "scale":0.8,
                        "dealy":"2000",
                        "algin":"middle"
                    }'>
                    <ul class="poster-list">
                        <li class="poster-item"><img src="img/1.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="img/2.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="img/3.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="img/4.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="img/5.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="img/6.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="img/1.jpg" width="100%" height="100%"></li>
                    </ul>
                    <div class="poster-btn poster-prev-btn"></div>
                    <div class="poster-btn poster-next-btn"></div>
                </div>
            </article>
        </div>

        <!-- 即将上线 -->
        <div class="upcoming-film common">
            <div class="upcoming-login">
                <a href="#">
                    <span></span>
                    <span>即将上线</span>
                    <span>查看我的预约></span>
                </a>
            </div>
            <div class="upcoming-time">
                <div class="qy-mod-list">
                    <div class="line-top"></div>
                    <ul class="upcoming-time-ul">
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="./img/zyz6.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                                    <p>怀旧金曲现场</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <i class="mod-list-left"></i>
                    <i class="mod-list-right"></i>
                </div>
            </div>
        </div>

        <!-- 动作电影 -->
        <div class="action-film common">
            <div class="action-headline">
                <a href="#">
                    <span>美国动作电影</span>
                    <span>更多></span>
                </a>
            </div>
            <div class="film-int">
                <ul>
                    <li>
                        <div class="movie-picture">
                            <img src="./img/zyz6.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                            <p>怀旧金曲现场</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="./img/zyz6.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                            <p>怀旧金曲现场</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="./img/zyz6.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                            <p>怀旧金曲现场</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="./img/zyz6.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                            <p>怀旧金曲现场</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="./img/zyz6.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                            <p>怀旧金曲现场</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="./img/zyz6.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                            <p>怀旧金曲现场</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="./img/zyz6.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">怀旧金曲Karaoke现场完整版</a></p>
                            <p>怀旧金曲现场</p>
                        </div>
                    </li>
                </ul>
                <i class="action-left"></i>
                <i class="action-right"></i>
            </div>
        </div>
    </div>

    
    <!-- 底部 -->
    <%- include('./layouts/footer.ejs') %>



    <script src="./js/vip.js"></script>
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/jquery.carousel.js"></script>
    <script>
        Caroursel.init($('.caroursel'))
    </script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script>
  let show = function(){
    $.ajax({
        url:"http://127.0.0.1/api/v1/films/all",
        type:"get",
        data:"",
        success:function(data){
            console.log(data)
        }
    })
  }
  show()
    </script>
</body>

</html>