<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/vip.css">
    <link rel="stylesheet" href="./css/bottom.css">
    <link rel="stylesheet" href="./css/hand.css">
    <link type="text/css" rel="stylesheet" href="./css/carousel.css">
</head>

<body>
    <%- include('./layouts/hand.ejs') %>
    <!-- vip -->
    <div class="hot-vip">
        <!-- 热门排行 -->
        <div class="hot-seniority common">
            <!-- 热门分类 -->
            <div class="hot-classfiy clearfix">
                <!-- 热门榜 -->
                <div class="hot-login">
                    <i></i>
                    <span>VIP热播榜</span>
                    <span class="more">更多></span>
                </div>
                <div class="vip-tab-nav">
                    <ul>
                        <li>
                            <div class="mod-nav-item"><a href="#">电影</a></div>
                        </li>
                        <li>
                            <div class="mod-nav-item"><a href="#">电视剧</a></div>
                        </li>
                        <li>
                            <div class="mod-nav-item"><a href="#">动漫</a></div>
                        </li>
                        <li>
                            <div class="mod-nav-item"><a href="#">儿童</a></div>
                        </li>
                        <li>
                            <div class="mod-nav-item"><a href="#">纪录片</a></div>
                        </li>
                    </ul>
                </div>
                <!-- 视频 -->
                <!-- table切换 -->
                <div class="tab-nav">
                    <div class="left-video-wrap clearfix" style="display: block;">
                        <div class="play-wrap">
                            <img src="./img/zyz3.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20191014/01/bb/v_132308345_m_601_m16_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">横行霸道</a></p>
                                                    <p>性感女团沙漠屠戮</p>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20190923/16/c0/v_128113153_m_601_m11_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">使徒行者2：谍影行动</a></p>
                                                    <p>张家辉古天乐激战</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20191014/69/e5/v_112883218_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">美国特工</a></p>
                                                    <p>新手特工拯救世界</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20191004/ae/25/v_128348570_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">银河补习班</a></p>
                                                    <p>邓超白宇催泪父子情</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20191017/72/c8/v_106399789_m_601_m10_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">家园防线</a></p>
                                                    <p>铁血硬汉父女情深</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20191016/b5/ee/v_128241080_m_601_m12_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">死寂逃亡</a></p>
                                                    <p>灭世怪兽寻声吃人</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20190810/cf/c1/v_115720703_m_601_m13_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">风语咒</a></p>
                                                    <p>上古凶兽毁天灭地</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20190929/4b/71/v_114505633_m_601_m12_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">沉默的证人</a></p>
                                                    <p>张家辉杨紫斗悍匪</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20190917/ea/48/v_127943164_m_601_m12_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">鼠胆英雄</a></p>
                                                    <p>佟丽娅强吻小岳岳</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20191007/61/57/v_113835866_m_601_m6_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">X战警：黑凤凰</a></p>
                                                    <p>20年传奇终极一战</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20190808/28/5b/v_50233838_m_601_m6_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">痞子英雄之全面开战</a></p>
                                                    <p>赵又廷与黄渤配对谈情</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20190808/64/de/v_104634523_m_601_m9_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">四大名捕2</a></p>
                                                    <p>邓超刘亦菲奇幻迷情</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left"></i>
                            <i class="col-right-right"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="left-video-wrap clearfix">
                        <div class="play-wrap">
                            <img src="./img/zyz7.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow1">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190930/41/4d/a_100215564_m_601_m9_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">世界欠我一个初恋</a></p>
                                                    <p>爱对了人，才是初恋</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20191010/4b/cb/a_100150640_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">十年三月三十日</a></p>
                                                    <p>窦骁娜扎职场情缘</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20190926/a6/7c/a_100353042_m_601_m2_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">不负时光</a></p>
                                                    <p>安悦溪邢昭林青春逐梦</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20191010/5f/ad/a_100272782_m_601_m2_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">光荣时代</a></p>
                                                    <p>张译黄志忠明暗对决</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20190920/4f/ff/a_100345180_m_601_m3_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">激荡</a></p>
                                                    <p>任重郭晓东铸不凡人生</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic1.iqiyipic.com/image/20190926/4e/ff/a_100353485_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">真凶难逃</a></p>
                                                    <p>疑云密布的警匪大片</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20180129/0b/19/a_100044825_m_601_m3_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">鸡毛飞上天</a></p>
                                                    <p>张译殷桃打造新义乌</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190702/60/ab/a_100056295_m_601_m23_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">延禧攻略</a></p>
                                                    <p>秦岚佘诗曼清宫风云</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20190918/79/cd/a_100047601_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">亲爱的味道</a></p>
                                                    <p>陆毅郭采洁美味结缘</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190812/0a/66/a_100142392_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">烈火军校</a></p>
                                                    <p>白鹿许凯共赴热血青春</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20181227/5f/21/a_100098426_m_601_m10_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">知否知否应是绿肥红瘦</a></p>
                                                    <p>赵丽颖演绎明兰传奇</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20191012/dc/ed/a_100351145_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">迷线</a></p>
                                                    <p>黑白双雄共擒毒枭</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left1"></i>
                            <i class="col-right-right1"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="left-video-wrap clearfix">
                        <div class="play-wrap">
                            <img src="./img/zyz3.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow2">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic7.iqiyipic.com/image/20191012/82/3b/a_50167419_m_601_m30_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">名侦探柯南 普通话</a></p>
                                                    <p>真相只有一个</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20191014/d3/93/a_100047949_m_601_m9_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">博人传 火影忍者新时代</a></p>
                                                    <p>火之意志世代传承</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic3.iqiyipic.com/image/20190521/74/0a/a_100091879_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">黑色四叶草</a></p>
                                                    <p>魔导少年称霸魔法世界</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20181011/08/93/a_50138731_m_601_m16_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">蜡笔小新</a></p>
                                                    <p>纯真眼光调侃地看世界</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20181206/e4/35/a_100193322_m_601_m5_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">画江湖之不良人 第3季</a></p>
                                                    <p>王者弈天下大唐生死局</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20190201/90/03/a_100006957_m_601_m22_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">名侦探柯南</a></p>
                                                    <p>真相只有一个</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20191004/c7/96/a_62016073_m_601_m16_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">妖精的尾巴</a></p>
                                                    <p>魔导士公会热血传奇</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic7.iqiyipic.com/image/20181012/74/fa/a_50375133_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">蜡笔小新 第2季</a></p>
                                                    <p>纯真眼光调侃地看世界</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190605/fb/2d/a_100162363_m_601_m16_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">少年歌行</a></p>
                                                    <p>有温度的少年江湖</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190809/20/54/a_100284032_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">大主宰</a></p>
                                                    <p>燃斗魂破乾坤君临苍穹</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20190318/c7/b9/a_100225738_m_601_m7_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">斗罗大陆2绝世唐门 荣耀篇</a></p>
                                                    <p>史莱克七怪荣耀回归</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20190702/86/fa/a_50268010_m_601_m6_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">网球王子</a></p>
                                                    <p>青春帅气的王子们</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left2"></i>
                            <i class="col-right-right2"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="left-video-wrap clearfix">
                        <div class="play-wrap">
                            <img src="./img/zyz7.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow3">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic7.iqiyipic.com/image/20190813/a7/34/a_100341132_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">小猪佩奇 第7季</a></p>
                                                    <p>小猪佩奇一家的生活</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20190703/35/8a/a_100042795_m_601_m3_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">汪汪队立大功全集</a></p>
                                                    <p>汪汪队立大功</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190912/f0/21/a_100349652_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">汪汪队立大功 第5季</a></p>
                                                    <p>解决难题突破重围</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20190826/4a/74/a_100344826_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">旋风战车队 第4季</a></p>
                                                    <p>旋风卡车的冒险故事</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic0.iqiyipic.com/image/20190703/9b/31/a_100107144_m_601_m10_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">汪汪队立大功 第4季</a></p>
                                                    <p>本领高强的狗狗巡逻队</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20190925/3f/b3/a_100351551_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">宇宙护卫队 第2季</a></p>
                                                    <p>动物知识及生活哲理</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic4.iqiyipic.com/image/20190704/35/94/a_100155275_m_601_m2_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">车宝四兄弟</a></p>
                                                    <p>一起兜风一起学习吧</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20190710/81/51/a_100200536_m_601_m6_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">嘟当曼全集</a></p>
                                                    <p>小玩具有大智慧</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20191003/1c/b2/a_100353033_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">新大头儿子和小头爸爸 英雄梦</a></p>
                                                    <p>大头小英雄全家乐融融</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20190704/86/90/a_100198780_m_601_m4_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">迷你特工队X</a></p>
                                                    <p>守护地球的迷你特工队</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic5.iqiyipic.com/image/20190704/26/00/a_100246756_m_601_m2_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">无敌小鹿之安全成长</a></p>
                                                    <p>教小朋友避免意外伤害</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic7.iqiyipic.com/image/20190919/62/1e/a_100351568_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">魔发精灵 翩翩起舞 第2季</a></p>
                                                    <p>梦幻般的家园狂欢</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left3"></i>
                            <i class="col-right-right3"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="left-video-wrap clearfix">
                        <div class="play-wrap">
                            <img src="./img/zyz3.jpg" alt="">
                        </div>
                        <!-- table -->
                        <div class="col-right clearfix">
                            <ul class="slideshow4">
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20191014/29/b7/a_100356160_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">老广的味道 第4季</a></p>
                                                    <p>最地道的老广味道</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20190707/88/fc/a_100318173_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">罪案现场实录</a></p>
                                                    <p>直击中国大案要案现场</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic7.iqiyipic.com/image/20160525/d6/a3/a_100025595_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">从秦始皇到汉武帝</a></p>
                                                    <p>中华民族统一融合史</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic6.iqiyipic.com/image/20180821/a8/1e/a_100177525_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">炉火江湖</a></p>
                                                    <p>每一个烧烤摊都有故事</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20160428/b5/b0/a_100024709_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">最后的棒棒</a></p>
                                                    <p>第一代农民工命运缩影</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic1.iqiyipic.com/image/20190929/78/7b/a_100354040_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">大国治道</a></p>
                                                    <p>中国古代腐败与反腐败</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20170424/da/b5/a_100031209_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">人间世</a></p>
                                                    <p>医院一日看尽人生百态</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic9.iqiyipic.com/image/20181226/f2/ba/a_100229508_m_601_m4_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">天下一锅</a></p>
                                                    <p>重新认识火锅六次</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tp clearfix">
                                        <ul>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20181015/fd/8b/a_100200791_m_601_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">空难日 第13季</a></p>
                                                    <p>纪念历史上的空中浩劫</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20190225/ed/bc/a_100236370_m_601_m4_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">人间世 第2季</a></p>
                                                    <p>追问“生死”感人至深</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic8.iqiyipic.com/image/20180611/85/96/a_100153156_m_601_m1_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">老广的味道 第3季</a></p>
                                                    <p>最接地气的家乡味道</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="movie-picture">
                                                    <img src="//pic2.iqiyipic.com/image/20190913/3a/f2/a_100338371_m_601_m3_260_360.jpg" alt="">
                                                </div>
                                                <div class="movie-title">
                                                    <p><a href="#">影响世界的中国植物</a></p>
                                                    <p>4K呈现奇妙植物世界</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <i class="col-right-left4"></i>
                            <i class="col-right-right4"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- vip尊享专区 -->
        <div class="honourable-vip common">
            <!-- 尊享标题 -->
            <div class="honourable-login">
                <a href="#">
                    <span></span>
                    <span>VIP尊享专区</span>
                </a>
            </div>
            <!-- 尊享左右轮播 -->
            <!-- table部分 -->
            <div class="honourable-lb common">
                <ul>
                    <li>
                        <a href="#">
                            <img src="//pic2.iqiyipic.com/common/lego/20180612/d86d69933eb544eab9bb3b0b93634432.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="//pic3.iqiyipic.com/common/lego/20180615/ca0ae66b626a41e4b0510dfdf9c7101e.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="//pic0.iqiyipic.com/common/lego/20180612/308086917b0342909825f7736d2b63fb.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="//pic3.iqiyipic.com/common/lego/20180612/e916495667684dc1b5cf9b80033e8d5b.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="//pic1.iqiyipic.com/common/lego/20180612/bc264f38629a400f8c7b325a8ad5feaf.png" alt="">
                        </a>
                        <div class="honourable-authority">
                            <img src="./img/zyz9.png" alt="">
                            <img src="./img/zyz10.png" alt="">
                            <span>大剧抢先看</span>
                        </div>
                        <span class="hon-triangle"></span>
                    </li>
                </ul>
                <i class="honour-left"></i>
                <i class="honour-right"></i>
            </div>
            <!-- 轮播的图片部分 -->

            <div class="honourableAll">
                <div class="honourable-tp" style="display: block">
                    <div class="lb-tp">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic2.iqiyipic.com/image/20190920/4f/ff/a_100345180_m_601_m3_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">激荡</a></p>
                                    <p>任重郭晓东铸不凡人生</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic0.iqiyipic.com/image/20190923/05/82/a_100350777_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">激荡DVD版</a></p>
                                    <p>任重郭晓东铸不凡人生</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic5.iqiyipic.com/image/20191010/5f/ad/a_100272782_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">光荣时代</a></p>
                                    <p>张译黄志忠明暗对决</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic1.iqiyipic.com/image/20190923/6e/b6/a_100345114_m_601_m1_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">激情的岁月</a></p>
                                    <p>李光洁高露谱传奇人生</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20191002/4a/87/a_100246510_m_601_m7_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">在远方</a></p>
                                    <p>刘烨马伊琍勇闯快递业</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20190918/79/cd/a_100047601_m_601_m5_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">亲爱的味道</a></p>
                                    <p>陆毅郭采洁美味结缘</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic8.iqiyipic.com/image/20190904/f4/9a/a_100329018_m_601_m3_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">平行世界</a></p>
                                    <p>漫画寻真爱</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic0.iqiyipic.com/image/20190904/fb/ee/a_100329025_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">平行世界普通话版</a></p>
                                    <p>漫画寻真爱</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left"></i>
                    <i class="honourable-tp-right"></i>
                </div>
                <div class="honourable-tp ">
                    <div class="lb-tp1">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20191010/f5/f6/a_100007496_m_601_m3_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">一吻定情2</a></p>
                                    <p>入江夫妇的婚后生活</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic1.iqiyipic.com/image/20190918/68/58/a_100103114_m_601_m3_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">摩登家庭 第九季</a></p>
                                    <p>逗比搞笑的下饭神剧</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic2.iqiyipic.com/image/20190916/26/3c/a_100086713_m_601_m3_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">穿越时间线 第一季</a></p>
                                    <p>保护过去 拯救未来</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic9.iqiyipic.com/image/20180315/2a/4d/a_100133344_m_601_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">穿越时间线 第二季</a></p>
                                    <p>时空小队返回营救吉亚</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic8.iqiyipic.com/image/20190711/ef/64/a_100313907_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">日版我可能不会爱你</a></p>
                                    <p>我还可以忍住不去爱你</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic2.iqiyipic.com/image/20190822/8c/d6/a_100340576_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">星际迷航：发现号（下）</a></p>
                                    <p>星际宇宙的种族之战</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic0.iqiyipic.com/image/20190822/12/38/a_100102956_m_601_m5_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">星际迷航：发现号（上）</a></p>
                                    <p>星际宇宙的种族之战</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic6.iqiyipic.com/image/20190730/9c/cd/a_100333457_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">亿万 第2季</a></p>
                                    <p>金钱与法律的追捕游戏</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left1"></i>
                    <i class="honourable-tp-right1"></i>
                </div>
                <div class="honourable-tp ">
                    <div class="lb-tp2">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic0.iqiyipic.com/image/20190810/0f/da/v_114905674_m_601_m7_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">犬之岛</a></p>
                                    <p>高口碑定格神作</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20190924/be/91/v_116700083_m_601_m7_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">犬之岛（普通话）</a></p>
                                    <p>高口碑定格神作</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic5.iqiyipic.com/image/20190810/5e/63/v_112853882_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">小猫奇缘</a></p>
                                    <p>刻板大叔成猫奴</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic2.iqiyipic.com/image/20190810/9b/b8/v_112874318_m_601_m4_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">帕特森</a></p>
                                    <p>平凡人的生活之诗</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic5.iqiyipic.com/image/20190810/07/d6/v_113442353_m_601_m6_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">三块广告牌</a></p>
                                    <p>暴力母亲为女寻凶</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic0.iqiyipic.com/image/20190810/b9/da/v_115308768_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">幻影爱人</a></p>
                                    <p>重返人间的亡灵</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic8.iqiyipic.com/image/20190810/67/00/v_114762624_m_601_m4_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">恋爱回旋</a></p>
                                    <p>新垣结衣热血乒乓</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20190810/a4/b5/v_114267634_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">绑架</a></p>
                                    <p>公路飙车疾速营救</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left2"></i>
                    <i class="honourable-tp-right2"></i>
                </div>
                <div class="honourable-tp ">
                    <div class="lb-tp3">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20191016/b5/ee/v_128241080_m_601_m12_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">死寂逃亡</a></p>
                                    <p>灭世怪兽寻声吃人</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic6.iqiyipic.com/image/20191012/04/63/v_112865563_m_601_m5_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">玩具总动员4</a></p>
                                    <p>话痨兄弟爆笑探险</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic9.iqiyipic.com/image/20191012/9a/ec/v_126999903_m_601_m5_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">花椒之味</a></p>
                                    <p>郑秀文华仔车内谈情</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic4.iqiyipic.com/image/20191009/3d/18/v_120962511_m_601_m9_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">爱宠大机密2</a></p>
                                    <p>猫狗乱斗超爆笑</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic6.iqiyipic.com/image/20191009/99/c3/v_115482370_m_601_m5_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">送我上青云</a></p>
                                    <p>姚晨寻找真爱之旅</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic6.iqiyipic.com/image/20191007/61/57/v_113835866_m_601_m6_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">X战警：黑凤凰</a></p>
                                    <p>20年传奇终极一战</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20190930/e4/1f/v_130353726_m_601_m7_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">铤而走险</a></p>
                                    <p>大鹏欧豪高能开打</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic9.iqiyipic.com/image/20191004/ae/25/v_128348570_m_601_m7_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">银河补习班</a></p>
                                    <p>邓超白宇催泪父子情</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left3"></i>
                    <i class="honourable-tp-right3"></i>
                </div>
                <div class="honourable-tp ">
                    <div class="lb-tp4">
                        <ul>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic4.iqiyipic.com/image/20190702/3f/fe/v_125418734_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">昨日奇迹</a></p>
                                    <p>失忆歌手再造奇迹</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic4.iqiyipic.com/image/20191012/0c/ad/v_139327420_m_601_m1_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">玩具总动员4（普通话）</a></p>
                                    <p>话痨兄弟爆笑探险</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic6.iqiyipic.com/image/20191012/04/63/v_112865563_m_601_m5_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">玩具总动员4</a></p>
                                    <p>话痨兄弟爆笑探险</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20191010/39/0a/v_139134319_m_601_m3_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">爱宠大机密2（普通话）</a></p>
                                    <p>猫狗乱斗超爆笑</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic4.iqiyipic.com/image/20191009/3d/18/v_120962511_m_601_m9_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">爱宠大机密2</a></p>
                                    <p>猫狗乱斗超爆笑</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic0.iqiyipic.com/image/20191008/eb/b6/v_128808086_m_601_m7_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">烈火英雄</a></p>
                                    <p>黄晓明舍身救火</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic2.iqiyipic.com/image/20190917/88/8c/v_137343028_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">蜘蛛侠：英雄远征（普通话）</a></p>
                                    <p>钢铁侠精神永不逝</p>
                                </div>
                            </li>
                            <li>
                                <div class="movie-picture">
                                    <img src="//pic3.iqiyipic.com/image/20190911/da/a1/v_114411383_m_601_m9_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">蜘蛛侠：英雄远征</a></p>
                                    <p>小蜘蛛独战强敌</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <i class="honourable-tp-left4"></i>
                    <i class="honourable-tp-right4"></i>
                </div>
            </div>
        </div>


        <!--  轮播图插件-->
        <div class="xuanjuan">
            <article class="jq22-container">
                <div class="caroursel poster-main" data-setting='{
                        "width":1000,
                        "height":270,
                        "posterWidth":640,
                        "posterHeight":270,
                        "scale":0.8,
                        "dealy":"2000",
                        "algin":"middle"
                    }'>
                    <ul class="poster-list">
                        <li class="poster-item"><img src="//pic7.iqiyipic.com/image/20181220/1c/55/v_116163725_m_601_m13_480_270.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="//pic2.iqiyipic.com/image/20190426/21/eb/v_106624952_m_601_m8_480_270.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="//pic1.iqiyipic.com/image/20190401/6e/4b/v_50329450_m_601_m6_480_270.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="//pic5.iqiyipic.com/image/20190610/9e/6d/v_120676448_m_601_m14_480_270.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="//pic9.iqiyipic.com/image/20180511/25/c4/v_115337163_m_601_m1_480_270.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="//pic8.iqiyipic.com/image/20190224/f4/d3/v_115387480_m_601_m6_480_270.jpg" width="100%" height="100%"></li>
                        <li class="poster-item"><img src="//pic3.iqiyipic.com/image/20180212/99/03/v_50328473_m_601_m8_480_270.jpg" width="100%" height="100%"></li>
                    </ul>
                    <div class="poster-btn poster-prev-btn"></div>
                    <div class="poster-btn poster-next-btn"></div>
                </div>
            </article>
        </div>

        <!-- 即将上线 -->
        <div class="upcoming-film common">
            <div class="upcoming-login">
                <a href="#">
                    <span></span>
                    <span>即将上线</span>
                    <span>查看我的预约></span>
                </a>
            </div>
            <div class="upcoming-time">
                <div class="qy-mod-list">
                    <div class="line-top"></div>
                    <ul class="upcoming-time-ul">
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="//pic1.iqiyipic.com/common/lego/20191010/8de73bb0cde34fb8a0fcefee48681185.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">热血少年</a></p>
                                    <p>47.2万人已预约</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月25日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="//pic2.iqiyipic.com/common/lego/20191016/6452f9bfa83d4e3fa9341fd861928ed7.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">诛仙 Ⅰ</a></p>
                                    <p>87.4万人已预约</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月17日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="//pic2.iqiyipic.com/common/lego/20191009/95e26eea331f49d39a58d571bc543f5b.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">东游</a></p>
                                    <p>28.7万人已预约</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月18日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="//pic1.iqiyipic.com/common/lego/20191017/3d7e6e3bf46347ff9221d4ca4cc32501.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">蜀汉酒楼</a></p>
                                    <p>7.4万人已预约</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月18日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="//pic1.iqiyipic.com/common/lego/20191014/dc022b9db7e2498abb6a27691e9c44ea.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">罗小黑战记</a></p>
                                    <p>16.3万人已预约</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月20日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="//pic1.iqiyipic.com/image/20191015/28/b7/v_139358238_m_601_m2_260_360.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">霍元甲</a></p>
                                    <p>3.9万人已预约</p>
                                </div>
                            </div>
                        </li>
                        <li class="upcoming-time-li">
                            <div class="film-time">
                                <p>10月22日</p>
                                <i></i>
                            </div>
                            <div class="film-name">
                                <div class="movie-picture">
                                    <img src="//pic1.iqiyipic.com/common/lego/20191015/38e660c0d4944b92a67de2dec21413b8.jpg" alt="">
                                </div>
                                <div class="movie-title">
                                    <p><a href="#">狮子王</a></p>
                                    <p>7.0万人已预约</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <i class="mod-list-left"></i>
                    <i class="mod-list-right"></i>
                </div>
            </div>
        </div>

        <!-- 动作电影 -->
        <div class="action-film common">
            <div class="action-headline">
                <a href="#">
                    <span>美国动作电影</span>
                    <span>更多></span>
                </a>
            </div>
            <div class="film-int">
                <ul>
                    <li>
                        <div class="movie-picture">
                            <img src="//pic2.iqiyipic.com/image/20190810/bf/a9/v_112879834_m_601_m4_260_360.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">猩球崛起3：终极之战</a></p>
                            <p>打响人猿终极战</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="//pic9.iqiyipic.com/image/20190809/38/3a/v_112258492_m_601_m5_260_360.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">金刚狼3：殊死一战</a></p>
                            <p>萝莉金刚狼凶猛登场</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="//pic1.iqiyipic.com/image/20190808/fe/ce/v_106542251_m_601_m12_260_360.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">侏罗纪公园3</a></p>
                            <p>恐怖侏罗纪惊险而至</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="//pic5.iqiyipic.com/image/20190810/35/96/v_112868608_m_601_m5_260_360.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">末日崩塌</a></p>
                            <p>巨石强森解救全家</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="//pic1.iqiyipic.com/image/20190809/40/cd/v_110741053_m_601_m4_260_360.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">惊天魔盗团2</a></p>
                            <p>周杰伦变身神秘魔术师</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="//pic8.iqiyipic.com/image/20190809/75/71/v_111442686_m_601_m4_260_360.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">蝙蝠侠：黑暗骑士</a></p>
                            <p>悍匪占城警察反攻</p>
                        </div>
                    </li>
                    <li>
                        <div class="movie-picture">
                            <img src="//pic5.iqiyipic.com/image/20190810/5b/e6/v_112868480_m_601_m4_260_360.jpg" alt="">
                        </div>
                        <div class="movie-title">
                            <p><a href="#">美国狙击手</a></p>
                            <p>牛仔狙击手沙尘暴枪战</p>
                        </div>
                    </li>
                </ul>
                <i class="action-left"></i>
                <i class="action-right"></i>
            </div>
        </div>
    </div>

    
    <!-- 底部 -->
    <%- include('./layouts/footer.ejs') %>



    <script src="./js/vip.js"></script>
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/jquery.carousel.js"></script>
    <script>
        Caroursel.init($('.caroursel'))
    </script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script>
  let show = function(){
    $.ajax({
        url:"http://127.0.0.1/api/v1/films/all",
        type:"get",
        data:"",
        success:function(data){
            console.log(data)
        }
    })
  }
  show()
    </script>
</body>

</html>