<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="./css/bottom.css">
<body>
    <!-- Modal -->
    <div class="wrapper">
        <div class="wraLogin">
            <button class="guanbi">X</button>
            <!-- 登录 -->
            <form class="form-signin" id="user-signin">
                <div class="form-group">
                    <label for="name">管理员名</label>
                    <input id="name" class="form-control" name="username" type="text" placeholder="请输入管理员名">
                    <div class="nameVal"></div>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input id="password" class="form-control" name="password" type="password" placeholder="请输入密码">
                    <div class="nameVal1"></div>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block btn-login" type="button">登录</button>
                    <a class="btn btn-lg btn-danger btn-block btn-reg" href="javascript:;">注 册</a>
                </div>
            </form>
            <!-- 添加 -->
            <form class="form-signin1" id="add-signin">
                <div class="form-group">
                    <label for="name">管理员名</label>
                    <input id="add-name" class="form-control" name="username" type="text" placeholder="请输入管理员名">
                    <div class="nameVal"></div>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input id="add-password" class="form-control" name="password" type="password" placeholder="请输入密码">
                    <div class="nameVal1"></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" id="add-password1" placeholder="请再次输入密码">
                    <div class="nameVal2"></div>
                </div>
                <div class="form-group">
                    <div class="box">
                        <p>
                            <div class="upload imgLog2">
                                <span><i class="glyphicon glyphicon-open"></i>上传头像</span>
                            </div>
                        </p>
                    </div>
                </div>

                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="inlineRadio1" value="0" checked> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="inlineRadio2" value="1"> 女
                    </label>
                </div>
                <button type="button" class="btn btn-default">注册</button>
            </form>
        </div>
    </div>

    <script>

        // 登录
        $('.register a').on('click', function () {
            $(".wrapper").css('display', 'block')
        })
        $('.guanbi').on('click', function () {
            $(".wrapper").css('display', 'none');
            $('.form-control').val('')
        })
        $('.btn-login').on('click', function () {
            var reg = /^[a-zA-Z]\S+/;
            if ($('#name').val() == '') {
                $('.nameVal').html("<i>用户名不能为空!</i>");
                return
            } else {
                $('.nameVal').html("<i> </i>");

            }
            if ($('#name').val().length < 2 || $('#name').val().length > 18) {
                $('.nameVal').html("<i>用户名长度大于6小于18!</i>");
                return
            } else {
                $('.nameVal').html("<i> </i>");

            }
            if ($('#name').val() == $('#password').val()) {
                $('.nameVal1').html("<i>密码不能和用户名相同!</i>");
                return
            } else {
                $('.nameVal1').html("<i> </i>");

            }
            if ($('#password').val().length == '') {
                $('.nameVal1').html("<i>密码不能为空!</i>");
                return
            } else {
                $('.nameVal1').html("<i> </i>");

            }
            if ($('#password').val().length < 6 || $('#password').val().length > 18) {
                $('.nameVal1').html("<i>密码长度大于6小于20!</i>");
                return
            } else {
                $('.nameVal1').html("<i> </i>");

            }
            var formdate = $('#user-signin').serialize();
            // console.log(formdate)
            $.ajax({
                url: "http://127.0.0.1/api/v1/users/login",
                type: 'post',
                data: formdate,
                success: function (data) {
                    console.log(data)
                    if (data.code == '400') {
                        alert(data.msg)
                    } else {
                        $('.wrapper').css('display', 'none');
                        $('.register img').attr('src', data.data[0].head_img);
                        $('.form-control').val('');
                        alert(data.msg);
                        // $.cookie('sken',)
                        window.sessionStorage.setItem("sken", data.data[0].id);

                        $('.movie-title a').on('click', function () {
                            if (data.data[0].state == '1') {
                                location.href = "/replay";
                            } else {
                                alert('请注册vip')
                            }
                        })

                        $.ajax({
                            url: `http://127.0.0.1/api/v1/history/${data.data[0].id}`,
                            type: 'get',
                            data: " ",
                            success: function (data) {
                                // console.log(data)
                                if(data.code=='200'){
                                    let usersStr = template('users_template', {
                                    list: data.data
                                });
                                $('.history dd').html(usersStr);

                                }
                                
                            }
                        })
                    }
                }
            })

        })
        //    注册
        $('.btn-reg').on('click', function () {
            $('.form-signin').css('display', 'none');
            $('.form-signin1').css('display', 'block');
        })
        $('.btn-default').on('click', function () {
            var username = $('#add-name').val();
            var password = $('#add-password').val()
            var password1 = $('#add-password1').val()
            if (username.length < 6 || username.length > 18) {
                $('.nameVal').html("<i>用户名长度大于6小于18!</i>");
                return
            } else {
                $('.nameVal').html("<i></i>");
            }
            if (password.length < 6 || password.length > 18) {
                $('.nameVal1').html("<i>密码长度大于6小于18!</i>");
                return
            } else {
                $('.nameVal1').html("<i></i>");
            }
            if (username == password) {
                $('.nameVal1').html("<i>密码不能和用户名相同!</i>");
                return
            } else {
                $('.nameVal1').html("<i></i>");
            }

            if (password !== password1) {
                $('.nameVal2').html("<i>密码不相同!</i>");
                return
            } else {
                $('.nameVal2').html("<i></i>");
            }
            var formdate = $('#add-signin').serialize();
            console.log(formdate)
            $.ajax({
                url: "http://127.0.0.1/api/v1/users",
                type: 'post',
                data: formdate + '&head_img=' + url,
                success: function (data) {
                    console.log(data)
                    if (data.code == '400') {
                        alert(data.msg)
                    } else {
                        $('.form-signin').css('display', 'block');
                        $('.form-signin1').css('display', 'none');
                        $('.form-control').val('')
                    }
                }
            })
        })
    </script>

<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="js/jquery.carousel.js"></script>
</body>

</html>