<div class="bottom">
    <!-- 底部链接 -->
    <div class="bottom-link">
        友情链接:
        <a href="#">age动漫</a>
        <a href="#">漫画大全</a>
        <a href="#">新视觉影院</a>
        <a href="#">电视剧全集</a>
    </div>
    <p>本站所有最新电影资源均来自互联网及网友上传，本站只提供免费在线观看，仅供网吧及个人用户测试带宽使用，版权归原电影公司所有。有问题可发邮件到 88yscc#gmail.com(请将#换成@)</p>
    <p>Copyright @ 2019 88影视网 - www.88ys.cc. All Rights Reserved</p>
</div>