<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="./css/hand.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrapValidator.min.css">
</head>

<body>
    <!-- 顶部导航 -->
    <div class="head-nav">
        <div class="top common clearfix">
            <!-- login图标 -->
            <div class="login">
                <a href="#">
                    <img src="./img/zyz.png" alt="">
                </a>
            </div>
            <!-- 顶部导航分类 -->
            <div class="classify-nav clearfix">
                <ul>
                    <li><a href="javascript:;" value="首页">首页</a></li>
                    <li><a href="javascript:;" value="电影">电影 <i class="trian"></i> <i class="trian2"></i></a>
                        <!-- 下拉框 -->
                        <ul class="classify-hide">
                            <li class="hide-one"><a href="javascript:;" value="动作片">动作片</a></li>
                            <li><a href="javascript:;" value="喜剧片">喜剧片</a></li>
                            <li><a href="javascript:;" value="爱情片">爱情片</a></li>
                            <li><a href="javascript:;" value="科幻片">科幻片</a></li>
                            <li><a href="javascript:;" value="恐怖片">恐怖片</a></li>
                            <li><a href="javascript:;" value="剧情片">剧情片</a></li>
                            <li><a href="javascript:;" value="战争片">战争片</a></li>
                            <li><a href="javascript:;" value="记录片">记录片</a></li>
                            <li><a href="javascript:;" value="冒险片">冒险片</a></li>
                            <li><a href="javascript:;" value="悬疑片">悬疑片</a></li>
                            <li><a href="javascript:;" value="犯罪片">犯罪片</a></li>
                            <li><a href="javascript:;" value="惊悚片">惊悚片</a></li>
                            <li><a href="javascript:;" value="动画片">动画片</a></li>
                            <li><a href="javascript:;" value="微电影">微电影</a></li>
                            <li><a href="javascript:;" value="其他片">其他片</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" value="电视剧">电视剧 <i class="trian"></i> <i class="trian2"></i></a>
                        <!-- 下拉框 -->
                        <ul class="classify-hide">
                            <li class="hide-one"><a href="javascript:;" value="国产剧">国产剧</a></li>
                            <li><a href="javascript:;" value="港台剧">港台剧</a></li>
                            <li><a href="javascript:;" value="日韩剧">日韩剧</a></li>
                            <li><a href="javascript:;" value="欧美剧">欧美剧</a></li>
                            <li><a href="javascript:;" value="其他剧">其他剧</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" value="vip精彩">vip精彩</a></li>
                    <li><a href="javascript:;" value="综艺">综艺 <i class="trian"></i> <i class="trian2"></i></a>
                        <!-- 下拉框 -->
                        <ul class="classify-hide">
                            <span>通知1: <i>最近由于神秘力量，可能会导致88ys.cc无法访问，请牢记88影视网备用地址：88ys.com</i></span>
                            <span>通知2: <i>不推荐大家使用QQ浏览器,以防被QQ浏览器拦截访问。</i></span>
                        </ul>
                    </li>
                    <li><a href="javascript:;" value="动漫">动漫 <i class="trian"></i> <i class="trian2"></i></a>
                        <!-- 下拉框 -->
                        <ul class="classify-hide">
                            <li class="hide-one"><a href="javascript:;" value="国产动漫">国产动漫</a></li>
                            <li><a href="javascript:;" value="日本动漫">日本动漫</a></li>
                            <li><a href="javascript:;" value="欧美动漫">欧美动漫</a></li>
                            <li><a href="javascript:;" value="其他动漫">其他动漫</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" value="vip充值" class="vouch">vip充值</a></li>
                </ul>
            </div>
            <!-- 顶部搜索 -->
            <div class="seach-nav clearfix">
                <form action="">
                    <input type="text" class="ss" placeholder='请输入影片或演员名'>
                    <input type="button" class="sub">
                </form>
            </div>
            <!-- 顶部历史记录 -->
            <div class="history">
                <li>
                    <span>
                        <i></i>
                        历史记录
                    </span>
                    <i class="his-nav"></i>
                    <dl>
                        <dt>
                            <a href="javascript:;" value="清空">清空</a>
                            |
                            <a href="javascript:;" value="关闭">关闭</a>
                        </dt>
                        <dd>暂无观看记录</dd>
                    </dl>
                </li>
            </div>
            <!-- 登录按钮 -->
            <div class="register">
                <img src="" alt=" " class="img-circle">
                <a href="javascript:;">登录</a>
            </div>
        </div>
    </div>
    <div class="vip-box">
        <div class="vip-voucher">
            <div class="voucher-top">
                <h2>
                    <i></i>
                    <span>黄金VIP会员</span>
                </h2>
                <span class="close"></span>
            </div>

            <div class="voucher-time">
                <p>特惠0.5元/天升级钻石会员，增加TV端超爽大屏特权 <span>升级为钻石会员</span></p>
                <div class="voucher-mon">
                    <ul>
                        <li class="avt-voucher">
                            <p>¥ <span class="as">178.00</span></p>
                            <p>/连续包年</p>
                            <p>¥198</p>
                        </li>
                        <li>
                            <p>¥ <span class="as">45.00</span></p>
                            <p>/连续包季</p>
                            <p>¥58</p>
                        </li>
                        <li>
                            <p>¥ <span class="as">6.00</span></p>
                            <p>/连续包月</p>
                            <p>¥19.8</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="voucher-scan">
                <ul>
                    <li style="display: block">
                        <img src="./img/zyz15.png" alt="">
                        <p>¥178</p>
                        <p>支付宝、微信、百度钱包扫码支付</p>
                        <div class="voucher-way">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <img src="./img/zyz15.png" alt="">
                        <p>¥45</p>
                        <p>支付宝、微信、百度钱包扫码支付</p>
                        <div class="voucher-way">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                    <li>
                        <img src="./img/zyz15.png" alt="">
                        <p>¥6</p>
                        <p>支付宝、微信、百度钱包扫码支付</p>
                        <div class="voucher-way">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="wrapper">
        <div class="wraLogin">
            <button class="guanbi">X</button>
            <!-- 登录 -->
            <form class="form-signin" id="user-signin">
                <div class="form-group">
                    <label for="name">管理员名</label>
                    <input id="name" class="form-control" name="username" type="text" placeholder="请输入管理员名">
                    <div class="nameVal"></div>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input id="password" class="form-control" name="password" type="password" placeholder="请输入密码">
                    <div class="nameVal1"></div>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block btn-login" type="button">登录</button>
                    <a class="btn btn-lg btn-danger btn-block btn-reg" href="javascript:;">注 册</a>
                </div>
            </form>
            <!-- 添加 -->
            <form class="form-signin1" id="add-signin">
                <div class="form-group">
                    <label for="name">管理员名</label>
                    <input id="add-name" class="form-control" name="username" type="text" placeholder="请输入管理员名">
                    <div class="nameVal"></div>
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input id="add-password" class="form-control" name="password" type="password" placeholder="请输入密码">
                    <div class="nameVal1"></div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" class="form-control" id="add-password1" placeholder="请再次输入密码">
                    <div class="nameVal2"></div>
                </div>
                <div class="form-group">
                    <div class="box">
                        <p>
                            <div class="upload imgLog2">
                                <span><i class="glyphicon glyphicon-open"></i>上传头像</span>
                            </div>
                        </p>
                    </div>
                </div>

                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="inlineRadio1" value="0" checked> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="inlineRadio2" value="1"> 女
                    </label>
                </div>
                <button type="button" class="btn btn-default">注册</button>
            </form>
        </div>


    </div>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/hand.js"></script>
    <script src="/js/img.js"></script>
    <script src="/js/bootstrapValidator.min.js"></script>

    <script>
        $(function () {
            var img2 = new ImgUpload('.imgLog2', 100, 100, 100);
            $(document).on('change', ".imgLog2 input", function (e) {
                //模拟后台返回url
                window.url = window.URL.createObjectURL(e.target.files[0]);
                $(this).parent().css('background', 'url(' + url + ')0% 0% / cover')
                img2.setSpan(this)
            })
            $('input').css('line-height', 'normal');

        })
        //  console.log(url)

        // 登录
        $('.register a').on('click', function () {
            $(".wrapper").css('display', 'block')
        })
        $('.guanbi').on('click', function () {
            $(".wrapper").css('display', 'none')
        })
        $('.btn-login').on('click', function () {
            var reg = /^[a-zA-Z]\S+/;
            if ($('#name').val() == '') {
                $('.nameVal').html("<i>用户名不能为空!</i>");
                return
            } else {
                $('.nameVal').html("<i> </i>");

            }
            if ($('#name').val().length < 6 || $('#name').val().length > 18) {
                $('.nameVal').html("<i>用户名长度大于6小于18!</i>");
                return
            } else {
                $('.nameVal').html("<i> </i>");

            }
            if ($('#name').val() == $('#password').val()) {
                $('.nameVal1').html("<i>密码不能和用户名相同!</i>");
                return
            } else {
                $('.nameVal1').html("<i> </i>");

            }
            if ($('#password').val().length == '') {
                $('.nameVal1').html("<i>密码不能为空!</i>");
                return
            } else {
                $('.nameVal1').html("<i> </i>");

            }
            if ($('#password').val().length < 6 || $('#password').val().length > 18) {
                $('.nameVal1').html("<i>密码长度大于6小于20!</i>");
                return
            } else {
                $('.nameVal1').html("<i> </i>");

            }
            var formdate = $('#user-signin').serialize();
            console.log(formdate)
            $.ajax({
                url: "http://127.0.0.1/api/v1/users/login",
                type: 'post',
                data: formdate,
                success: function (data) {
                    // console.log(data)
                    // console.log(data.data[0].head_img);
                    // console.log(data.data[0].id)
                    if (data.code == '400') {
                        alert(data.msg)
                    } else {
                        $('.wrapper').css('display', 'none');
                        $('.register img').attr('src', data.data[0].head_img);
                        $.ajax({
                            url: `http://127.0.0.1/api/v1/history/${data.data[0].id}`,
                            type: 'get',
                            data: " ",
                            success: function (data) {
                                console.log(data)
                            }
                        })
                    }
                }
            })

        })
        //    注册
        $('.btn-reg').on('click', function () {
            $('.form-signin').css('display', 'none');
            $('.form-signin1').css('display', 'block');
        })
        $('.btn-default').on('click', function () {
            var username = $('#add-name').val();
            var password = $('#add-password').val()
            var password1 = $('#add-password1').val()
            if (username.length < 6 || username.length > 18) {
                $('.nameVal').html("<i>用户名长度大于6小于18!</i>");
                return
            } else {
                $('.nameVal').html("<i></i>");
            }
            if (password.length < 6 || password.length > 18) {
                $('.nameVal1').html("<i>密码长度大于6小于18!</i>");
                return
            } else {
                $('.nameVal1').html("<i></i>");
            }
            if (username == password) {
                $('.nameVal1').html("<i>密码不能和用户名相同!</i>");
                return
            } else {
                $('.nameVal1').html("<i></i>");
            }

            if (password !== password1) {
                $('.nameVal2').html("<i>密码不相同!</i>");
                return
            } else {
                $('.nameVal2').html("<i></i>");
            }
            var formdate = $('#add-signin').serialize();
            console.log(formdate)
            $.ajax({
                url: "http://127.0.0.1/api/v1/users",
                type: 'post',
                data: formdate + '&head_img=' + url,
                success: function (data) {
                    console.log(data)
                    if (data.code == '400') {
                        alert(data.msg)
                    } else {
                        $('.form-signin').css('display', 'block');
                        $('.form-signin1').css('display', 'none');
                        $('.form-control').val('')
                    }
                }
            })
        })


        // 获取历史信息
        // $(document).ready(function () {
        //     $.ajax({
        //         url: 'http://127.0.0.1/api/v1/:id',
        //         type: 'get',
        //         data: " ",
        //         success: function (data) {
        //             console.log(data)
        //         }
        //     })
        // })
    </script>

</body>

</html>