.external {
    margin-bottom: 20px;
    padding: 0px;
    background: #1c1c1c url(../Images/pload.gif) no-repeat scroll center center;
}

.common {
    margin: 0 auto;
    width: 1200px;

}

.name {
    margin: 0;
    color: darkgray;
}

.name a {
    margin-top: 10px;
    text-decoration: none;
    color: darkgray;
}
.ptitle{
    font-size: 1px;
}
.episode {
    background-color: #333333;
}

.episode-left {
    display: inline;
}

.episode-left p {
    display: inline;
    margin-left: 10px;
    color: aliceblue;
}

.episode-middle {
    display: inline-block;
    margin-left: 380px;
    color: aliceblue;
}

.episode-right {
    float: right;
    margin-right: 10px;
    color: aliceblue;
}

.common-on {
    color: #f06000;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 15px;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 20px;
    color: #e74851;
    border: 1px solid #e74851;
}

.circle p {
    padding-left: 8px;
    line-height: 70%;

}

.commentguest {
    width: 2em;
    height: 2em;
    top: 2.2em;
    position: relative;
}

.commentguest img {
    width: 100%;
    height: auto;
}

.comment-input {
    transition: all 0.5s ease 0s;
    font-family: "微软雅黑";
    font-size: 1.1em;
    position: relative;
    left: 3.1em;
}

.commentarea {
    position: absolute;
    padding: 0.6em 1em;
    border: 0.1em solid black;
    background: #fff none repeat scroll 0 0;
    width: 34em;
    z-index: 2;
}

.commentarea textarea {
    border: 0 none;
    display: block;
    outline: 0 none;
    resize: none;
    width: 32em;
    height: 2em;

}

.comment-input:hover .commentarea {
    height: 11.37em;
}

.comment-input:hover .commentarea textarea {
    height: 7em;
}

.comment-input:hover .commentbtn {
    top: 6em;
    z-index: 3;
}

.commentbtn {
    border: 0 none;
    bottom: 2em;
    height: 3.3em;
    padding: 0;
    left: 0.1em;
    width: 33.9em;
    position: relative;
    transition: top 0.1s ease 0s;

}

.commentmask {
    border: 0 none;
    top: 2em;
    height: 100%;
    padding: 0;
    right: 0;
    width: 33.9em;
    background-color: #f4f5f6;
    position: relative;
    z-index: 1;
}

.getcomment {
    width: 6em;
    float: right;
    bottom: 1.2em;
    position: relative;
    width: 6.7em;
    height: 100%;
    z-index: 3;
    background-color: #3f404c;
    color: #fff;
    line-height: 1.9em;
    text-align: center;
    font-size: 1.1em;
}

.getcomment:hover {
    background-color: #AC2925;
    color: #fff;
}

.commonts-sub {
    padding: 0px 15px 14px 16px;
    position: relative;
    color: #666;
}

.commonts-sub textarea {
    width: 1160px;
    height: 90px;
    border-color: #e74851;
}

.commonts-sub .commonts-skills {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 600px;
    font-size: 15px;
    color: #757575;
}

.commonts-by {
    float: right;
    padding-right: 20px;
}

.commonts-bnm {
    background: rgb(251, 251, 251);
    padding: 0px 1px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    width: 60px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}

.commonts-zxc {
    width: 80px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.commonts-nnm {
    border: currentColor;
    width: 81px;
    height: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-size: 14px;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background-color: #169dea;
}

.comment {
    margin-top: 60px;
    font-family: "Microsoft YaHei";
}

.comment .comment-one {
    padding: 15px 0px;
    width: 100%;
    display: inline-flex;
    color: rgb(153, 153, 153);
    border-bottom-color: rgb(215, 215, 215);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.f1 {
    float: left;
}

.comment-one .visitor-one {
    width: 50px;
    height: 50px;
}

.visitor-two {
    margin-top: -17px;
    padding-left: 10px;
}

.visitor-two p {
    margin-bottom: 8px;
}

.visitor-two .name {
    color: rgb(43, 140, 230);
}

.visitor-two .con {
    color: rgb(51, 51, 51);
    line-height: 20px;
    overflow: hidden;
}

<style>* {
    padding: 0;
    margin: 0;
}

.lunbo-shu{
    position: relative;
    top: 41px;
    margin-left: 119px;
    color: #a8a1a1;
    font-size: 14px;
}
.synopsis{
    margin-top: 15px;
}
.synopsis-on{
    color: #f06000;
    font-size: 15px;
}
.synopsis-one{
    line-height: 30px;
}

/* 影片 */
.title {
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    padding: 5px 0;
}
.recommend{
    height: 558px;
    margin-top: 20px;
}
.recommend ul{
    width: 1200px;
    margin-left: -35px;
}
.recommend li{
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    height: 230px;
    width: 180px;
    overflow: hidden;
}
.recommend li img{
  height: 230px;
  width: 180px;
  border-radius: 10px;
   overflow: hidden;
}
.movie{
  height: 230px;
  width: 180px;
  background-color: #000;
  opacity: 0.7;
  position: relative;
  bottom: 61px;
  border-radius: 10px;
  overflow: hidden;
  transition-duration:1s;
}
.movie:hover{
    bottom: 255px;
}
.recommend_list li p {
	position: relative;
	top: 10px;
	overflow: hidden;
	color: #bfbfde;
	cursor: pointer;
    /* opacity: 5; */
    color: #fff;
	font-size: 16px;
    margin-left: 12px;
     overflow: hidden;
} 
.recommend_list li p:nth-child(1){
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 600;
}
.recommend_list li i {
    position: relative;
    top: -219px;
    left: 134px;
    padding: 14px 8px;
    background: #090;
    color: #fff;
    font-style: normal;
    border-radius: 0 10px 0 25px;
    opacity: 0.8;
    z-index: 50;
}

.recommend_list li .movie a {
    width: 53px;
    height: 50px;
    display: inline-block;
    background-image: url(../image/fang.png);
    background-repeat: no-repeat;
    background-position: 22px 18px;
    margin-left: 50px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.mask {
    position: absolute;
    top: 0;
    left: 2px;
    width: 180px;
    height: 230px;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
}
.mask h3 {
    text-align: center;
}
.mask p{
    color: #e4dede;
    margin-left: 5px;
}
.mask span{
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}

.source ul {
    display: inline-block;
    padding-left: 0px;
    width: 100%;
    list-style: none;
}
#tab {
    border-width: 1px 1px 0px;
    border-style: solid solid solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204);
    border-image: initial;
    border-bottom: 0px;
    background: rgb(255, 255, 255);
}
.cource_tab {
    height: 36px;
    width: 320px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.cource_tab li {
    position: relative;
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 6px;
}
.cource_tab li img {
    height: 16px;
    position: relative;
    top: 5px;
    transition: transform 2s ease 0s;
}
.tab-item a {
    font-size: 12px;
    color: rgba(85, 85, 85, 0.333);
    text-decoration: none;
}

.products {
    width: 1200px;
    height: 200px;
}
.products-h1 {
    margin-top: -30px;
    height: 25px;
    border-bottom: 1px dotted rgb(217, 217, 215);
}
.videourl li {
    float: left;
    text-align: center;
    margin-left: 10px;
    width: 111px;
    line-height: 34px;
    overflow: hidden;
    padding: 5px 6px;
}
.videourl .selected-first a {
    color: rgb(255, 255, 255);
    background: rgb(240, 96, 0);
    text-decoration: none;
}
.videourl li a {
    display: block;
    height: 40px;
    line-height: 40px;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    border-image: initial;
    margin: auto;
    font-size: 10px;
    text-decoration: none;
    color: black;
}
.videourl li a:hover {
    color: rgb(255, 255, 255);
    background: rgb(240, 96, 0);
}