body {
    background-color: #f6f6f9;
}

.common {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}


.clearfix:after {
    clear: both;
    display: block;
    content: '';
}

.top-p>span {
    color: #777777;
}

.top-p>a {
    text-decoration: none;
    color: black;
}

.shanxuan {
    width: 1130px;
    margin-left: 160px;
    margin-top: 20px;
    height: 40px;
    background-color: white;
    border: 1px solid #f6f6f9;
}

.shanxuan-diany {
    position: relative;
    top: 5px;
    border-radius: 3px;
    margin-left: 10px;
    line-height: 30px;
    height: 30px;
    width: 72px;
    background-color: #f06000;

}

.shanxuan-diany>span {
    margin-left: 3px;
    color: white;
}


   
.shanxuan-diany-p {
    width: 69px;
    background-color: white;
    position: relative;
    line-height: 40px;
    height: 40px;
    bottom: 46px;
    float: right;
    border: 1px #e8e8e8;
    cursor: pointer;
}
.shanxuan-diany-p>span {
    margin-left: 15px;
    color: red;
}

.shanxuan-diany-p .sjbgs {
    border-color: #f00600 transparent transparent transparent;
}

.sjbgs {
    display: inline-block;
    overflow: hidden;
    margin-bottom: -1px;
    width: 0;
    height: 0;
    border-color: #d8d8d8 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    border-width: 4px;
    line-height: 0;
}

.shanxuan-fenlei {
    background-color: white;
    width: 1200px;
    height: 250px;
    margin-top: -5px;
    
}

.one,
.two,
.four{
    width: 1175px;
}

.one>li {
    width: 60px;
    list-style-type: none;
    position: relative;
    right: 30px;
    float: left;
    margin-left: 12px;
    margin-top: 10px;
    background-color: #eaeaee;
    border-radius: 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.one>.box,
.two>.box,
.four>.box {
    background-color: #f06000;
    color: white;
}

.two>li {
    width: 65px;
    list-style-type: none;
    position: relative;
    right: 36px;
    float: left;
    top: -10px;
    margin-left: 17px;
    margin-bottom: 10px;
    /* margin-top: 2px; */
    background-color: #eaeaee;
    border-radius: 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}


.four>li{
    width: 65px;
    list-style-type: none;
    position: relative;
    right: 36px;
    float: left;
    top: -30px;
    margin-left: 17px;
    margin-bottom: 10px;
    /* margin-top: 2px; */
    background-color: #eaeaee;
    border-radius: 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.fenye-top{
    /* position: fixed; */
    margin-top: 25px;
}
.fenye-top-r>a{
    color: #f06000;;
    text-decoration: none;
    font-size:14px;
}
.fenye-top-r>span{
    font-size:14px;
}
.fenye-top-l>a{
    list-style-type:none;
}
/* 最新 */
.fenye-top-l>a:first-child{
    position: relative;
    left: 980px;
  bottom: 32px;
    background-image: url(../images/11.png);
    background-repeat: repeat-y;
    cursor: pointer;
}
.fenye-top-l>a>span:first-child{
    position: relative;
    left: 30px;
    bottom: 2px;
}
.fenye-top-l>a:first-child:hover{
    height: 21px;
    background-image: url(../images/12.png);
    background-repeat: repeat-y;
}

/* 热门 */
.fenye-top-l>a:nth-child(2){
    position: relative;
    left:1020px;
  bottom: 32px;
    background-image: url(../images/21.png);
    background-repeat: repeat-y;
    cursor: pointer;
}
.fenye-top-l>a>span:nth-child(2){
    position: relative;
    left: 30px;
    bottom: 2px;
}
.fenye-top-l>a:nth-child(2):hover{
    height: 21px;
    background-image: url(../images/22.png);
    background-repeat: repeat-y;
}
/* 推荐 */
.fenye-top-l>a:nth-child(3){
    position: relative;
    left:1059px;
  bottom: 32px;
    background-image: url(../images/31.png);
    background-repeat: repeat-y;
    cursor: pointer;
}
.fenye-top-l>a>span:nth-child(3){
    position: relative;
    left: 30px;
    bottom: 2px;
}
.fenye-top-l>a:nth-child(3):hover{
    height: 21px;
    background-image: url(../images/32.png);
    background-repeat: repeat-y;
}
.lunbo-one-p{
    list-style-type: none;
}
.lunbo-one-p>li{
    display: inline-block;
    position: relative;
    right: 40px;
    margin-left: 10px;
    overflow: hidden;
    border-radius: 10px;
    height: 230px;
}
.lunbo-one-p>li>img{
    border-radius: 10px;
    width: 179px;
    height: 100%;
    cursor: pointer;
}

.lunbo-one-p a:hover .mask {
    opacity: 1;
    top: 0;           
}
.mask {
    border-radius: 10px;
    position: absolute;
    top: 198px;
    text-align: center;
    
    /* left: 1px; */
    width: 178px;
    height: 230px;
    background: rgba(5, 0, 0, 0.6);
    color: #ffffff;
    opacity: 10;
    transition: all 0.5s;
}
.mask h3 {
    text-align: center;
}
.mask p{
    color: #e4dede;
    margin-left: 5px;
}
.mask span{
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}
.lunbo-shu{
    position: relative;
    top: 41px;
    margin-left: 119px;
    color: #a8a1a1;
    font-size: 14px;
}