<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/intro.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css">
    <script src="./js/intro.js"></script>
    <title>高清播放</title>
</head>

<body>
    <div class="primary">
        <!--  顶部导航栏  -->
        <div class="head-nav">
            <div class="top common clearfix">
                <!-- login图标 -->
                <div class="login">
                    <a href="#">
                        <img src="./img/logo.png" alt="">
                    </a>
                </div>
                <!-- 顶部导航分类 -->
                <div class="classify-nav">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">电影 <i class="trian"></i> <i class="trian2"></i></a>
                            <!-- 下拉框 -->
                            <ul class="classify-hide">
                                <li class="hide-one"><a href="#">动作片</a></li>
                                <li><a href="#">喜剧片</a></li>
                                <li><a href="#">爱情片</a></li>
                                <li><a href="#">科幻片</a></li>
                                <li><a href="#">恐怖片</a></li>
                                <li><a href="#">剧情片</a></li>
                                <li><a href="#">战争片</a></li>
                                <li><a href="#">记录片</a></li>
                                <li><a href="#">冒险片</a></li>
                                <li><a href="#">悬疑片</a></li>
                                <li><a href="#">犯罪片</a></li>
                                <li><a href="#">惊悚片</a></li>
                                <li><a href="#">动画片</a></li>
                                <li><a href="#">微电影</a></li>
                                <li><a href="#">其他片</a></li>
                            </ul>
                        </li>
                        <li><a href="#">电视剧 <i class="trian"></i> <i class="trian2"></i></a>
                            <!-- 下拉框 -->
                            <ul class="classify-hide">
                                <li class="hide-one"><a href="#">国产剧</a></li>
                                <li><a href="#">港台剧</a></li>
                                <li><a href="#">日韩剧</a></li>
                                <li><a href="#">欧美剧</a></li>
                                <li><a href="#">其他剧</a></li>
                            </ul>
                        </li>
                        <li><a href="#">vip精彩</a></li>
                        <li><a href="#">综艺 <i class="trian"></i> <i class="trian2"></i></a>
                            <!-- 下拉框 -->
                            <ul class="classify-hide">
                                <span>通知1: <i>最近由于神秘力量，可能会导致88ys.cc无法访问，请牢记88影视网备用地址：88ys.com</i></span>
                                <span>通知2: <i>不推荐大家使用QQ浏览器,以防被QQ浏览器拦截访问。</i></span>
                            </ul>
                        </li>
                        <li><a href="#">动漫 <i class="trian"></i> <i class="trian2"></i></a>
                            <!-- 下拉框 -->
                            <ul class="classify-hide">
                                <li class="hide-one"><a href="#">国产动漫</a></li>
                                <li><a href="#">日本动漫</a></li>
                                <li><a href="#">欧美动漫</a></li>
                                <li><a href="#">其他动漫</a></li>
                            </ul>
                        </li>
                        <li><a href="#">vip充值</a></li>
                    </ul>
                </div>
                <!-- 顶部搜索 -->
                <div class="seach-nav clearfix">
                    <form action="">
                        <input type="text" class="ss" value="请输入影片或演员名">
                        <input type="submit" class="sub" value="">
                    </form>
                </div>
                <!-- 顶部历史记录 -->
                <div class="history">
                    <li>
                        <span>
                            <i></i>
                            历史记录
                        </span>
                        <i class="his-nav"></i>
                        <dl>
                            <dt>
                                <a href="#">清空</a>
                                |
                                <a href="#">关闭</a>
                            </dt>
                            <dd>暂无观看记录</dd>
                        </dl>
                    </li>
                </div>
            </div>
        </div>
        <!-- 中间内容区域 -->
        <div class="content">       
            <div class="content_center">
                <!--  当前位置提示栏 -->
                <div class="location">
                    <p>当前位置:</p>
                    <ul>
                        <li>
                            <a href="">首页</a> >
                        </li>
                        <li>
                            <a href="">最新电影</a> >
                        </li>
                        <li>
                            <a href="">剧情片</a> >
                        </li>
                        <li>
                            中国机长
                        </li>
                    </ul>
                </div>
                <!--  影片介绍区域 -->
                <div class="film">
                    <!-- 影片封面图片 -->
                    <div class="film_img">
                        <img src="./img/156993180187486821.jpg" alt="">
                    </div>
                    <!-- 影片介绍 -->
                    <div class="film_intro">
                        <h1>中国机长</h1>
                        <dt><span>状态：</span>HC</dt>
                        <dt><span>主演：</span>张涵予,欧豪,杜江,袁泉,张天爱,李沁,雅玫,杨祺如,高戈,黄志忠,朱亚文,李现,杨颖,陈数,焦俊艳,吴樾,阚清子,余皑磊,刘浩,李岷城,冯文娟
                        </dt>
                        <dt><span>相关：</span></dt>
                        <dd><span>类型：</span>电影 剧情片</dd>
                        <dd><span>更新：</span>2019-10-05 07:25</dd>
                        <dd><span>导演：</span>刘伟强</dd>
                        <dd><span>地区：</span>大陆</dd>
                        <dd><span>年份：</span>2019</dd>
                        <dd><span>语言：</span>国语</dd>
                        </dl>
                        <div class="intro_explain">
                            <span>剧情简介:</span>
                            电影《中国机长》根据2018年5月14日四川航空3U8633航班机组成功处置特情真实事件改编：机组执行航班任务时，在万米高空突遇驾驶舱风挡玻璃爆裂脱落、座舱释压的极端罕见险情，生死关头，他们临危不乱、果断应对、正确处置，确保了机上全部人员的生命安全，创造了世界民航史上的奇迹。《中国机长》电影于2019年10月05号由88影视网收集自网络发布，同时提供在线观看服务。
                             <a href="javascript:;" name="yingcang" class="conceal">展开</a> 
                        </div>

                    </div>
                    <!-- 二维码扫描区域 -->
                    <div class="scan">
                        <img src="./img/88ysapp.png" alt="">
                    </div>
                </div>

            </div>
            <!-- 在线观看列表 -->
            <div class="watch">
                <!-- 点击按钮 -->
                <div class="watch_button">
                    <!-- 点击观看按钮 -->
                    <div class="look"><a href="">中国机长在线观看按钮</a></div>
                    <!-- 点击下载按钮 -->
                    <div class=" download">
                        <a href="/download" id="btn_dow">在线下载</a>
                        <img src="./img/xia.png" alt="">
                    </div>
                </div>
                <!-- 选择播放源栏 -->
                <div class="source">
                    <ul class="cource_tab">
                        <li class="tab-item active">
                            <img src="./img/bo2.png" alt="">
                            <a href="javascript:;">酷云播放源</a>
                        </li>
                        <li class="tab-item">
                            <img src="./img/bo2.png" alt="">
                            <a href="javascript:;"> ZDm3u8播放源</a>
                        </li>
                        <li class="tab-item">
                            <img src="./img/bo2.png" alt="">
                            <a href="javascript:;">bdm3u8播放源</a>
                        </li>
                        <li class="tab-item">
                            <img src="./img/bo2.png" alt="">
                            <a href="javascript:;">八戒播放源</a>
                        </li>
                        <li class="tab-item">
                            <img src="./img/bo2.png" alt="">
                            <a href="javascript:;"> 33uu播放源</a>
                        </li>
                    </ul>
                    <div class="products">
                        <div class="main selected">
                            因版权原因下架了
                        </div>
                        <div class="main">
                            因版权原因下架了啊啊啊
                        </div>
                        <div class="main">
                            因版权原因下架了上的相安无事的
                        </div>
                        <div class="main">
                            因版权原因下架了阿达哇荡秋千
                        </div>
                    </div>
                </div>
                <!-- 选择集数 -->
                <div class="set"></div>
            </div>
            <!-- 影片推荐区域 -->
            <div class="recommend">
                <!-- 推荐标题 -->
                <div class="recommend_title">除了"<strong>中国机长</strong>"你也可能喜欢以下影片：</div>
                <ul class="recommend_list clearfix">
                    <li>
                        <a href="">
                            <img src="./img/156067864413.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie" id="movie_name">
                            <p class="name">中国机长</p>
                            <p class="actor">张涵予</p>
                            <p class="type">剧情片</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/15633483911.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">斗罗大陆</p>
                            <p class="actor">沈磊</p>
                            <p class="type">国产动漫</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/156460333017112749.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">西行记</p>
                            <p class="actor">夏磊 ，吴磊</p>
                            <p class="type">国产动漫</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/156802860266935684.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">我和我的祖国</p>
                            <p class="actor">贾乃亮，邢佳栋</p>
                            <p class="type">剧情片</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/156915780362788267.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">攀登者</p>
                            <p class="actor">吴京，章子怡，张译</p>
                            <p class="type">剧情片</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/157094580969707569.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">我在未来等你</p>
                            <p class="actor">邢昭林，白鹿</p>
                            <p class="type">爱情片</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/201904091554804565.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">在远方</p>
                            <p class="actor">刘烨</p>
                            <p class="type">剧情片</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/157087560181837659.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">陈情令</p>
                            <p class="actor">肖战，王一博</p>
                            <p class="type">剧情片</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/157089960259078414.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">火影忍者</p>
                            <p class="actor">竹内顺子</p>
                            <p class="type">动漫</p>
                            <p class="time">2019/大日本</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/157094580969707569.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">海贼王给</p>
                            <p class="actor">田中真工</p>
                            <p class="type">动漫</p>
                            <p class="time">2002/日本</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/157094580969707569.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">画江湖之不良人</p>
                            <p class="actor">边江</p>
                            <p class="type">国产动漫</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="">
                            <img src="./img/157097340278225476.jpg" alt="">
                        </a>
                        <i>高清</i>
                        <div class="movie">
                            <p class="name">斗破苍穹</p>
                            <p class="actor"></p>
                            <p class="type">国产动漫</p>
                            <p class="time">2019/大陆</p>
                            <a href=""></a>
                        </div>
                </ul>
            </div>
        </div>
        <!-- 底部 -->
        <div class="bottom">
            <!-- 底部链接 -->
            <div class="bottom-link">
                友情链接:
                <a href="#">age动漫</a>
                <a href="#">漫画大全</a>
                <a href="#">新视觉影院</a>
                <a href="#">电视剧全集</a>
            </div>
            <p>本站所有最新电影资源均来自互联网及网友上传，本站只提供免费在线观看，仅供网吧及个人用户测试带宽使用，版权归原电影公司所有。有问题可发邮件到 88yscc#gmail.com(请将#换成@)</p>
            <p>Copyright @ 2019 88影视网 - www.88ys.cc. All Rights Reserved</p>
        </div>
    </div>

    <script src="./js/jquery-3.3.1.js"></script>
    <script src="./js/intro.js"></script>

</body>

</html>