.external {
    margin-bottom: 20px;
    padding: 0px;
    background: #1c1c1c url(../Images/pload.gif) no-repeat scroll center center;
}

.common {
    margin: 0 auto;
    width: 1200px;

}

.name {
    margin: 0;
    color: darkgray;
}

.name a {
    margin-top: 10px;
    text-decoration: none;
    color: darkgray;
}
.ptitle{
    font-size: 1px;
}
.episode {
    background-color: #333333;
}

.episode-left {
    display: inline;
}

.episode-left p {
    display: inline;
    margin-left: 10px;
    color: aliceblue;
}

.episode-middle {
    display: inline-block;
    margin-left: 380px;
    color: aliceblue;
}

.episode-right {
    float: right;
    margin-right: 10px;
    color: aliceblue;
}

.common-on {
    color: #f06000;
    font-size: 16px;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 20px;
    color: #e74851;
    border: 1px solid #e74851;
}

.circle p {
    padding-left: 10px;
    padding-top: 15px;
}

.commentguest {
    width: 2em;
    height: 2em;
    top: 2.2em;
    position: relative;
}

.commentguest img {
    width: 100%;
    height: auto;
}

.comment-input {
    transition: all 0.5s ease 0s;
    font-family: "微软雅黑";
    font-size: 1.1em;
    position: relative;
    left: 3.1em;
}

.commentarea {
    position: absolute;
    padding: 0.6em 1em;
    border: 0.1em solid black;
    background: #fff none repeat scroll 0 0;
    width: 34em;
    z-index: 2;
}

.commentarea textarea {
    border: 0 none;
    display: block;
    outline: 0 none;
    resize: none;
    width: 32em;
    height: 2em;

}

.comment-input:hover .commentarea {
    height: 11.37em;
}

.comment-input:hover .commentarea textarea {
    height: 7em;
}

.comment-input:hover .commentbtn {
    top: 6em;
    z-index: 3;
}

.commentbtn {
    border: 0 none;
    bottom: 2em;
    height: 3.3em;
    padding: 0;
    left: 0.1em;
    width: 33.9em;
    position: relative;
    transition: top 0.1s ease 0s;

}

.commentmask {
    border: 0 none;
    top: 2em;
    height: 100%;
    padding: 0;
    right: 0;
    width: 33.9em;
    background-color: #f4f5f6;
    position: relative;
    z-index: 1;
}

.getcomment {
    width: 6em;
    float: right;
    bottom: 1.2em;
    position: relative;
    width: 6.7em;
    height: 100%;
    z-index: 3;
    background-color: #3f404c;
    color: #fff;
    line-height: 1.9em;
    text-align: center;
    font-size: 1.1em;
}

.getcomment:hover {
    background-color: #AC2925;
    color: #fff;
}

.commonts-sub {
    padding: 0px 15px 14px 16px;
    position: relative;
    color: #666;
}

.commonts-sub textarea {
    width: 1160px;
    height: 90px;
    border-color: #e74851;
}

.commonts-sub .commonts-skills {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 600px;
    font-size: 15px;
    color: #757575;
}

.commonts-by {
    float: right;
    padding-right: 20px;
}

.commonts-bnm {
    background: rgb(251, 251, 251);
    padding: 0px 1px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    width: 60px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}

.commonts-zxc {
    width: 80px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.commonts-nnm {
    border: currentColor;
    width: 81px;
    height: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-size: 14px;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background-color: #169dea;
}

.comment {
    margin-top: 60px;
    font-family: "Microsoft YaHei";
}

.comment .comment-one {
    padding: 15px 0px;
    width: 100%;
    display: inline-flex;
    color: rgb(153, 153, 153);
    border-bottom-color: rgb(215, 215, 215);
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.f1 {
    float: left;
}

.comment-one .visitor-one {
    width: 50px;
    height: 50px;
}

.visitor-two {
    margin-top: -17px;
    padding-left: 10px;
}

.visitor-two p {
    margin-bottom: 8px;
}

.visitor-two .name {
    color: rgb(43, 140, 230);
}

.visitor-two .con {
    color: rgb(51, 51, 51);
    line-height: 20px;
    overflow: hidden;
}

<style>* {
    padding: 0;
    margin: 0;
}

#ul {
    font-size: 0;
    font-family: Microsoft YaHei;
    display: inline-block;
}

#ul li {
    user-select: none;
    list-style: none;
    float: left;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    margin: 10px;
    cursor: pointer;
    color: #585858;
}

#div {
    width: 100%;
    text-align: center;
}

#ul .background {
    background: #39C6F4;
    color: white;
    border: 1px solid #39C6F4;
}
.synopsis{
    margin-top: 15px;
}
.synopsis-on{
    color: #f06000;
    font-size: 15px;
}
.synopsis-one{
    line-height: 30px;
}
.title {
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    padding: 5px 0;
}
.lunbo-one-p a:hover .mask {
    opacity: 1;           
}

.lunbo-one-p{
    list-style-type: none;
}
.lunbo-one-p>li{
    display: inline-block;
    position: relative;
    right: 25px;
    margin-left: 10px;
}
.lunbo-one-p>li>img{
    width: 179px;
    height: 230px;
}

.lunbo-one-p a:hover .mask {
    opacity: 1;           
}
.mask {
    position: absolute;
    top: 0;
    left: 2px;
    width: 180px;
    height: 230px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
}
.mask h3 {
    text-align: center;
}
.mask p{
    color: #e4dede;
    margin-left: 5px;
    padding-top: 10px;
}
.mask span{
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}
.source{
    height: 258px;
    width: 1200px;
    margin: 0 auto;
}
.source ul{
    list-style:none;  
    display:inline-block;    
    padding-left:0;  
    width: 100%;
}

.cource_tab {
    border-bottom: 1px solid #ccc;
    height: 36px;
    width: 320px;
  }
  .cource_tab li {
    position: relative;
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 6px;

  }
  .cource_tab li img{
      height: 16px;
      position: relative;
      top: 5px;
      transition: transform 2s;
  }
  .cource_tab li img:hover{
    transform: rotateX(180deg);
}
  
  .products {
    width: 1200px;
    height: 200px;
  }

  .products .main {
    float: left;
    display: none;
  }

  .products .main.selected {
    display: block;
  }

  .tab li.active {
    border-color: red;
    border-bottom: 0;
  }
  .tab-item a{
      text-decoration: none;
      color: #5555;
  }
 
#tab {
    
    border: 1px solid #ccc;
    border-bottom: 0;
    background: #ffffff;
}
.products-h1{
    margin-top: 10px;
    border-bottom: 1px dotted #d9d9d7;
}
.videour1{
  padding: 5px, 0;  
}

.videourl li {
    float: left;
    overflow: hidden;
    padding: 5px 6px;
    text-align: center;
    margin-left: 10px;
    width: 111px;
    line-height: 34px;
}
.videourl li a:hover {
    background: #F06000;
    color: #fff;
}
.videourl .selected-first a {
    background: #F06000;
    color: #FFFFFF;
    text-decoration: none;
}
.videourl li a {
    display: block;
    height: 40px;
    line-height: 40px;
    background: #eee;
    -webkit-border-radius: 10px;
    border: 1px solid #d1d1d1;
    margin: auto auto;
}
.selected a{
    background-color: #f3f3f3;
    text-decoration: none;
    color: #757575;
}